@if (partner) {
  <div>
    <div class="d-flex align-items-center justify-content-between w-100 mb-5">
      <div class="h2">
        <span jhiTranslate="pagopaCruscottoApp.partner.detail.title">Partner Detail</span> [<strong>{{ partner.fiscalCode }}</strong
        >]
      </div>
      <div>
        <button type="submit" mat-flat-button (click)="previousState()" [title]="['entity.action.back' | translate]">
          <mat-icon fontSet="material-symbols-outlined">undo</mat-icon><span jhiTranslate="entity.action.back">Back</span>
        </button>
      </div>
    </div>
    <div class="row mb-2">
      <div class="col-md-12">
        <mat-card class="mat-elevation-z8">
          <mat-card-content>
            <div class="row custom-row p-2">
              <div class="col-lg-4">
                <span jhiTranslate="pagopaCruscottoApp.partner.name">Name</span>
                <p class="p-2 bg-light">{{ partner.name }}</p>
              </div>
              <div class="col-lg-2">
                <span jhiTranslate="pagopaCruscottoApp.partner.status">Status</span>
                <p class="p-2 bg-light">{{ partner.status }}</p>
              </div>
              <div class="col-lg-2">
                <span jhiTranslate="pagopaCruscottoApp.partner.qualified">Qualified</span>
                <p class="p-2 bg-light"><jhi-yes-or-no-view [yesOrNo]="partner.qualified"></jhi-yes-or-no-view></p>
              </div>
              <div class="col-lg-2">
                <span jhiTranslate="pagopaCruscottoApp.partner.deactivationDate">Deactivation Date</span>
                <p class="p-2 bg-light">{{ partner.deactivationDate | formatDate: 'L' : locale }}</p>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
}
