.mat-column-id,
.mat-column-analysisDate,
.mat-column-stationsPresent,
.mat-column-stationsWithoutSpontaneous,
.mat-column-outcome,
.mat-column-percentageNoSpontaneous {
  width: 150px;
  text-align: left !important;
  white-space: nowrap;
}

.mat-column-details {
  width: 180px;
  text-align: center !important;
}
