<div class="row mb-2" *ngIf="moduleDetails; else noData">
  <div class="col-md-12">
    <mat-card class="mat-elevation-z8">
      <mat-card-content>
        <div class="row custom-row p-2">
          <!-- Riga 1: Module Code, Status, Assigned User -->
          <div class="col-lg-4">
            <span
              ><strong>{{ 'pagopaCruscottoApp.instanceModule.detail.moduleCode' | translate }}:</strong></span
            >
            <p class="p-2 bg-light">{{ moduleDetails.moduleCode || 'N/A' }}</p>
          </div>
          <div class="col-lg-4">
            <span
              ><strong>{{ 'pagopaCruscottoApp.instanceModule.detail.status' | translate }}:</strong></span
            >
            <p class="p-2 bg-light">{{ moduleDetails.status || 'N/A' }}</p>
          </div>
          <div class="col-lg-4">
            <span
              ><strong>{{ 'pagopaCruscottoApp.instanceModule.detail.assignedTo' | translate }}:</strong></span
            >
            <p class="p-2 bg-light">{{ moduleDetails.assignedUserFirstName || '' }} {{ moduleDetails.assignedUserLastName || '' }}</p>
          </div>

          <!-- Riga 2: Analysis Type, Automatic Outcome, Automatic Outcome Date -->
          <div class="col-lg-4">
            <span
              ><strong>{{ 'pagopaCruscottoApp.instanceModule.detail.analysisType' | translate }}:</strong></span
            >
            <p class="p-2 bg-light">{{ moduleDetails.analysisType || 'N/A' }}</p>
          </div>
          <div class="col-lg-4">
            <span
              ><strong>{{ 'pagopaCruscottoApp.instanceModule.detail.automaticOutcome' | translate }}:</strong></span
            >
            <p class="p-2 bg-light">{{ moduleDetails.automaticOutcome || 'N/A' }}</p>
          </div>
          <div class="col-lg-4">
            <span
              ><strong>{{ 'pagopaCruscottoApp.instanceModule.detail.automaticOutcomeDate' | translate }}:</strong></span
            >
            <p class="p-2 bg-light">{{ moduleDetails.automaticOutcomeDate | date: 'medium' }}</p>
          </div>

          <!-- Riga 3: Allow Manual Outcome, Manual Outcome, Manual Outcome Date -->
          <div class="col-lg-4">
            <span
              ><strong>{{ 'pagopaCruscottoApp.instanceModule.detail.allowManualOutcome' | translate }}:</strong></span
            >
            <p class="p-2 bg-light">{{ moduleDetails.allowManualOutcome ? 'Yes' : 'No' }}</p>
          </div>
          <div class="col-lg-4">
            <span
              ><strong>{{ 'pagopaCruscottoApp.instanceModule.detail.manualOutcome' | translate }}:</strong></span
            >
            <p class="p-2 bg-light">{{ moduleDetails.manualOutcome || 'N/A' }}</p>
          </div>
          <div class="col-lg-4">
            <span
              ><strong>{{ 'pagopaCruscottoApp.instanceModule.detail.manualOutcomeDate' | translate }}:</strong></span
            >
            <p class="p-2 bg-light">{{ moduleDetails.manualOutcomeDate | date: 'medium' }}</p>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<ng-template #noData>
  <p>{{ 'pagopaCruscottoApp.instanceModule.detail.noData' | translate }}</p>
</ng-template>
