/* Column Widths */
.mat-column-schedulerName,
.mat-column-jobName,
.mat-column-groupName,
.mat-column-scheduleTime,
.mat-column-lastFiredTime,
.mat-column-nextFireTime,
.mat-column-cron {
  width: 150px;
  text-align: left!important;
  white-space: nowrap;
}

.mat-column-jobStatus {
  width: 150px;
  text-align: center!important;
  white-space: nowrap;
}

.mat-column-action {
  width: 300px;
  min-width: 200px;
  text-align: center!important;
  white-space: nowrap;
}
