<div>
  <div class="d-flex align-items-center justify-content-between w-100 mb-5">
    <div class="h2" *ngIf="!editForm.get('id')!.value">
      <span jhiTranslate="pagopaCruscottoApp.instance.update.create.title">New Instance</span>
    </div>
    <div class="h2" *ngIf="editForm.get('id')!.value">
      <span jhiTranslate="pagopaCruscottoApp.instance.update.modify.title">Edit Instance</span> {{ editForm.get('id')?.value }}
    </div>
    <div>
      <button type="submit" mat-flat-button (click)="previousState()" [title]="['entity.action.back' | translate]">
        <mat-icon fontSet="material-symbols-outlined">undo</mat-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
      </button>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
        <mat-card class="mat-elevation-z8">
          <ngx-spinner [fullScreen]="false" type="ball-clip-rotate" size="default" color="#ffffff" name="isSaving">
            <p class="ngx-spinner-loading">Loading...</p>
          </ngx-spinner>
          <mat-card-content>
            <div class="row mt-3 p-2">
              <div class="offset-md-3 col-md-5">
                <jhi-partner-select [parentForm]="editForm" formInnerControlName="partner"></jhi-partner-select>
                <div class="d-block mb-3">
                  @let analysisPeriodStartDateRef = editForm.get('analysisPeriodStartDate')!;
                  <mat-form-field class="d-block mb-2">
                    <mat-label jhiTranslate="pagopaCruscottoApp.instance.analysisPeriodStartMonth">Start Month</mat-label>
                    <input
                      matInput
                      [matDatepicker]="startMonthPicker"
                      formControlName="analysisPeriodStartDate"
                      [matDatepickerFilter]="startMonthFilter"
                    />
                    <mat-datepicker-toggle
                      matIconSuffix
                      *ngIf="analysisPeriodStartDateRef.value"
                      (click)="clearDate('analysisPeriodStartDate')"
                    >
                      <mat-icon matDatepickerToggleIcon fontSet="material-symbols-outlined" color="accent" aria-hidden="false">
                        close_small
                      </mat-icon>
                    </mat-datepicker-toggle>
                    <mat-datepicker-toggle matSuffix [for]="startMonthPicker"></mat-datepicker-toggle>
                    <mat-datepicker
                      #startMonthPicker
                      startView="multi-year"
                      (monthSelected)="selectStartMonth($event, startMonthPicker)"
                      panelClass="month-year-picker"
                    ></mat-datepicker>
                    <ng-container
                      ngProjectAs="mat-error"
                      *ngIf="analysisPeriodStartDateRef.invalid && (analysisPeriodStartDateRef.dirty || analysisPeriodStartDateRef.touched)"
                    >
                      @if (analysisPeriodStartDateRef?.errors?.required && !analysisPeriodStartDateRef?.errors?.matDatepickerParse) {
                        <mat-error class="form-text text-danger" jhiTranslate="entity.validation.required">
                          This field is required.
                        </mat-error>
                      }
                      @if (analysisPeriodStartDateRef?.errors?.matDatepickerParse) {
                        <mat-error class="form-text text-danger" jhiTranslate="entity.validation.date">Invalid date</mat-error>
                      }
                      @if (analysisPeriodStartDateRef?.errors?.matDatepickerFilter) {
                        <mat-error
                          class="form-text text-danger"
                          jhiTranslate="pagopaCruscottoApp.instance.update.analysisPeriodStartDate.validation.dateLoeThanEndDate"
                        >
                          The 'Analysis Period Start Date' field must be a date before or equal to 'Analysis Period End Date'
                        </mat-error>
                      }
                    </ng-container>
                  </mat-form-field>

                  @let analysisPeriodEndDateRef = editForm.get('analysisPeriodEndDate')!;
                  <mat-form-field class="d-block mb-2">
                    <mat-label jhiTranslate="pagopaCruscottoApp.instance.analysisPeriodEndMonth">End Month</mat-label>
                    <input
                      matInput
                      [matDatepicker]="endMonthPicker"
                      formControlName="analysisPeriodEndDate"
                      [matDatepickerFilter]="endMonthFilter"
                    />
                    <mat-datepicker-toggle
                      matIconSuffix
                      *ngIf="analysisPeriodEndDateRef.value"
                      (click)="clearDate('analysisPeriodEndDate')"
                    >
                      <mat-icon matDatepickerToggleIcon fontSet="material-symbols-outlined" color="accent" aria-hidden="false">
                        close_small
                      </mat-icon>
                    </mat-datepicker-toggle>
                    <mat-datepicker-toggle matSuffix [for]="endMonthPicker"></mat-datepicker-toggle>
                    <mat-datepicker
                      #endMonthPicker
                      startView="multi-year"
                      (monthSelected)="selectEndMonth($event, endMonthPicker)"
                      panelClass="month-year-picker"
                    ></mat-datepicker>
                    <ng-container
                      ngProjectAs="mat-error"
                      *ngIf="analysisPeriodEndDateRef.invalid && (analysisPeriodEndDateRef.dirty || analysisPeriodEndDateRef.touched)"
                    >
                      @if (analysisPeriodEndDateRef?.errors?.required && !analysisPeriodEndDateRef?.errors?.matDatepickerParse) {
                        <mat-error class="form-text text-danger" jhiTranslate="entity.validation.required">
                          This field is required.
                        </mat-error>
                      }
                      @if (analysisPeriodEndDateRef?.errors?.matDatepickerParse) {
                        <mat-error class="form-text text-danger" jhiTranslate="entity.validation.date">Invalid date</mat-error>
                      }
                      @if (analysisPeriodEndDateRef?.errors?.matDatepickerFilter) {
                        <mat-error
                          class="form-text text-danger"
                          jhiTranslate="pagopaCruscottoApp.instance.update.analysisPeriodEndDate.validation.dateGoeThanStartDate"
                        >
                          The 'Analysis Period End Date' field must be a date before or equal to 'Analysis Period Start Date'
                        </mat-error>
                      }
                    </ng-container>
                  </mat-form-field>

                  @let predictedDateAnalysisRef = editForm.get('predictedDateAnalysis')!;
                  <mat-form-field class="d-block mb-2">
                    <mat-label jhiTranslate="pagopaCruscottoApp.instance.predictedDateAnalysis">Predicted Date Analysis</mat-label>
                    <input
                      matInput
                      [matDatepicker]="predictedDateAnalysis"
                      formControlName="predictedDateAnalysis"
                      [matDatepickerFilter]="predictedDateAnalysisFilter"
                      datePickerFormat="DD/MM/YYYY"
                    />
                    <mat-datepicker-toggle
                      matIconSuffix
                      *ngIf="predictedDateAnalysisRef.value || predictedDateAnalysisRef?.errors?.matDatepickerParse"
                      (click)="clearDate('predictedDateAnalysis')"
                    >
                      <mat-icon matDatepickerToggleIcon fontSet="material-symbols-outlined" color="accent" aria-hidden="false">
                        close_small
                      </mat-icon>
                    </mat-datepicker-toggle>
                    <mat-datepicker-toggle matSuffix [for]="predictedDateAnalysis"></mat-datepicker-toggle>
                    <mat-datepicker #predictedDateAnalysis></mat-datepicker>

                    <ng-container
                      ngProjectAs="mat-error"
                      *ngIf="predictedDateAnalysisRef.invalid && (predictedDateAnalysisRef.dirty || predictedDateAnalysisRef.touched)"
                    >
                      @if (predictedDateAnalysisRef?.errors?.required && !predictedDateAnalysisRef?.errors?.matDatepickerParse) {
                        <mat-error class="form-text text-danger" jhiTranslate="entity.validation.required">
                          This field is required.
                        </mat-error>
                      }
                      @if (predictedDateAnalysisRef?.errors?.matDatepickerParse) {
                        <mat-error class="form-text text-danger" jhiTranslate="entity.validation.date">Invalid date</mat-error>
                      }
                      @if (predictedDateAnalysisRef?.errors?.matDatepickerFilter) {
                        <mat-error
                          class="form-text text-danger"
                          jhiTranslate="pagopaCruscottoApp.instance.update.predictedDateAnalysis.validation.dateAfterTodayOrAnalysisPeriod"
                        >
                          This field should be a date after today or Analysis Period
                        </mat-error>
                      }
                    </ng-container>
                  </mat-form-field>
                </div>
              </div>
            </div>
          </mat-card-content>
          <mat-card-actions>
            <div class="d-flex justify-content-end align-items-center w-100">
              <div class="pe-1">
                <button
                  type="button"
                  id="cancel-save"
                  mat-raised-button
                  (click)="previousState()"
                  [title]="['entity.action.cancel' | translate]"
                >
                  <mat-icon fontSet="material-symbols-outlined">cancel</mat-icon>&nbsp;
                  <span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
              </div>
              <div class="pe-1">
                <button
                  type="submit"
                  id="save-save"
                  mat-flat-button
                  color="primary"
                  [disabled]="editForm.invalid || isSaving"
                  [title]="['entity.action.save' | translate]"
                >
                  <mat-icon fontSet="material-symbols-outlined">save</mat-icon>&nbsp;
                  <span jhiTranslate="entity.action.save">Save</span>
                </button>
              </div>
            </div>
          </mat-card-actions>
        </mat-card>
      </form>
    </div>
  </div>
</div>
