.mat-column-id,
.mat-column-analysisDate,
.mat-column-stationName,
.mat-column-method,
.mat-column-evaluationStartDate,
.mat-column-evaluationEndDate,
.mat-column-evaluationType,
.mat-column-outcome,
.mat-column-details {
  width: 150px;
  text-align: center;
}

.mat-column-totalRequests,
.mat-column-reqTimeout,
.mat-column-timeoutPercentage {
  width: 150px;
  text-align: right;
}
