.mat-column-id,
.mat-column-analysisDate,
.mat-column-stationName,
.mat-column-method,
.mat-column-evaluationStartDate,
.mat-column-evaluationEndDate,
.mat-column-evaluationType,
.mat-column-outcome,
.mat-column-negativeData,
.mat-column-totalRequests,
.mat-column-timeoutPercentage,
.mat-column-reqTimeout {
  text-align: left !important;
  white-space: nowrap;
}

.mat-column-details {
  width: 180px;
  text-align: center !important;
}
