<div>
  @let istanceRef = instance()!;
  <div class="d-flex align-items-center justify-content-between w-100 mb-5">
    <div class="h2">
      <span jhiTranslate="pagopaCruscottoApp.instance.detail.title">Instance</span> [<strong>{{ istanceRef?.id }}</strong
      >]
    </div>
    <div>
      <button type="submit" mat-flat-button (click)="previousState()" [title]="['entity.action.back' | translate]">
        <mat-icon fontSet="material-symbols-outlined">undo</mat-icon>
        <span jhiTranslate="entity.action.back">Back</span>
      </button>
      <button
        mat-raised-button
        color="primary"
        [disabled]="istanceRef.status !== status.Bozza && istanceRef.status !== status.Pianificata"
        [routerLink]="['/entity/instances', istanceRef?.id, 'edit']"
        [title]="['pagopaCruscottoApp.instance.detail.modify.title' | translate]"
      >
        <mat-icon fontSet="material-symbols-outlined">edit</mat-icon>
        <span jhiTranslate="pagopaCruscottoApp.instance.detail.modify.title">Update</span>
      </button>
    </div>
  </div>
  <div class="row mb-2">
    <div class="col-md-12">
      <mat-card class="mat-elevation-z8">
        <mat-card-content>
          <div class="row custom-row p-2">
            <!-- Prima riga: Identificazione Istanza, Partner, Utente Assegnato -->
            <div class="col-lg-4">
              <span jhiTranslate="pagopaCruscottoApp.instance.detail.instanceIdentification">Instance Identification</span>
              <p class="p-2 bg-light">{{ istanceRef?.instanceIdentification }}</p>
            </div>
            <div class="col-lg-4">
              <span jhiTranslate="pagopaCruscottoApp.instance.detail.partner">Partner</span>
              <p class="p-2 bg-light">{{ istanceRef?.partnerFiscalCode }} - {{ istanceRef?.partnerName }}</p>
            </div>
            <div class="col-lg-4">
              <span jhiTranslate="pagopaCruscottoApp.instance.detail.assignedTo">Assigned To</span>
              <p class="p-2 bg-light">{{ istanceRef?.assignedFirstName }} {{ istanceRef?.assignedLastName }}</p>
            </div>

            <!-- Seconda riga: Data della richiesta, Data prevista per l'analisi, Periodo di analisi (inizio), Periodo di analisi (fine) -->
            <div class="col-lg-3">
              <span jhiTranslate="pagopaCruscottoApp.instance.detail.applicationDate">Application Date</span>
              <p class="p-2 bg-light">
                {{ istanceRef?.applicationDate | formatDate: 'L' : locale }}
              </p>
            </div>
            <div class="col-lg-3">
              <span jhiTranslate="pagopaCruscottoApp.instance.detail.predictedDateAnalysis">Predicted Date Analysis</span>
              <p class="p-2 bg-light">
                {{ istanceRef?.predictedDateAnalysis | formatDate: 'L' : locale }}
              </p>
            </div>
            <div class="col-lg-3">
              <span jhiTranslate="pagopaCruscottoApp.instance.detail.analysisPeriodStartDate">Analysis Period Start Date</span>
              <p class="p-2 bg-light">
                {{ istanceRef?.analysisPeriodStartDate | formatDate: 'L' : locale }}
              </p>
            </div>
            <div class="col-lg-3">
              <span jhiTranslate="pagopaCruscottoApp.instance.detail.analysisPeriodEndDate">Analysis Period End Date</span>
              <p class="p-2 bg-light">
                {{ istanceRef?.analysisPeriodEndDate | formatDate: 'L' : locale }}
              </p>
            </div>

            <!-- Terza riga: Data Ultima Analisi, Esito ultima analisi, Stato -->
            <div class="col-lg-4">
              <span jhiTranslate="pagopaCruscottoApp.instance.detail.lastAnalysisDate">Last Analysis Date</span>
              <p class="p-2 bg-light">
                {{ istanceRef?.lastAnalysisDate | formatDate: 'L' : locale }}
              </p>
            </div>
            <div class="col-lg-4">
              <span jhiTranslate="pagopaCruscottoApp.instance.detail.lastAnalysisOutcome">Last Analysis Outcome</span>
              <p class="p-2 bg-light">
                {{ istanceRef?.lastAnalysisOutcome }}
              </p>
            </div>
            <div class="col-lg-4">
              <span jhiTranslate="pagopaCruscottoApp.instance.detail.status">Status</span>
              <p class="p-2 bg-light">
                {{ 'pagopaCruscottoApp.instanceState.' + istanceRef?.status | translate }}
              </p>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <!-- Nuova card per i Tabs -->
  <div class="row mt-4 mb-2">
    <div class="col-md-12">
      <mat-card class="mat-elevation-z8">
        <mat-card-content>
          <div>
            <!-- Barra di navigazione dei Tab -->
            <nav mat-tab-nav-bar [tabPanel]="tabPanel">
              <a
                mat-tab-link
                *ngFor="let module of instanceModulesSorted(); let i = index"
                (click)="selectModule(module)"
                [active]="selectedModule?.id === module.id"
                [matTooltip]="'pagopaCruscottoApp.module.' + module.moduleCode + '.name' | translate"
              >
                {{ module.moduleCode || 'N/A' }}
              </a>
            </nav>
            <br />
            <mat-tab-nav-panel #tabPanel>
              <ng-container *ngIf="selectedModule; else noModuleSelected">
                <!-- Caricamento del componente che mostra i dettagli -->
                <jhi-instance-module-details [moduleId]="selectedModule.id"></jhi-instance-module-details>
              </ng-container>
            </mat-tab-nav-panel>
          </div>

          <ng-template #noModuleSelected>
            <p>{{ 'pagopaCruscottoApp.error.instanceModule.notExists' | translate }}</p>
          </ng-template>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
