footer {
  background: #3949ab;
  color: #ffffff;
  height: 50px;
  margin-top: -50px;
  text-align: center;
  line-height: 50px;
}

a {
  color: #ffffff;
  font-weight: bold;
}

.version {
  float: right;
  color: #ffffff;
}
