<div>
  <div class="d-flex align-items-center justify-content-between w-100 mb-5">
    <div class="h2" *ngIf="!editForm.get('id')!.value">
      <span jhiTranslate="pagopaCruscottoApp.kpiConfiguration.update.create.title">New Configuration Kpi</span>
    </div>
    <div class="h2" *ngIf="editForm.get('id')!.value">
      <span jhiTranslate="pagopaCruscottoApp.kpiConfiguration.update.modify.title">Edit Configuration Kpi</span> [{{
        editForm.get('moduleCode')?.value
      }}]
    </div>
    <div>
      <button type="submit" mat-flat-button (click)="previousState()" [title]="['entity.action.back' | translate]">
        <mat-icon fontSet="material-symbols-outlined">undo</mat-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
      </button>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
        <mat-card class="mat-elevation-z8">
          <ngx-spinner [fullScreen]="false" type="ball-clip-rotate" size="default" color="#ffffff" name="isSaving">
            <p class="ngx-spinner-loading">Loading...</p>
          </ngx-spinner>
          <mat-card-content>
            <div class="row mt-3 p-2">
              <div class="col-lg-3">
                <mat-form-field class="d-block mb-2">
                  <mat-label jhiTranslate="pagopaCruscottoApp.kpiConfiguration.moduleCode"></mat-label>
                  <input matInput autocomplete="off" formControlName="moduleCode" />
                  @let moduleCodeRef = editForm.get('moduleCode')!;
                  <ng-container ngProjectAs="mat-error" *ngIf="moduleCodeRef.invalid && (moduleCodeRef.dirty || moduleCodeRef.touched)">
                    @if (moduleCodeRef?.errors?.required) {
                      <mat-error class="form-text text-danger" jhiTranslate="entity.validation.required">
                        {{ 'entity.validation.required' | translate }}
                      </mat-error>
                    }
                  </ng-container>
                </mat-form-field>
              </div>
              <div class="col-lg-3">
                <mat-form-field class="d-block mb-2">
                  <mat-label jhiTranslate="pagopaCruscottoApp.kpiConfiguration.excludePlannedShutdown"></mat-label>
                  <mat-select formControlName="excludePlannedShutdown">
                    <mat-option value="null" selected></mat-option>
                    <mat-option *ngFor="let option of booleanOptions" [value]="option.value">
                      {{ option.text | translate }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-lg-3">
                <mat-form-field class="d-block mb-2">
                  <mat-label jhiTranslate="pagopaCruscottoApp.kpiConfiguration.excludeUnplannedShutdown"></mat-label>
                  <mat-select formControlName="excludeUnplannedShutdown">
                    <mat-option value="null" selected></mat-option>
                    <mat-option *ngFor="let option of booleanOptions" [value]="option.value">
                      {{ option.text | translate }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-lg-3">
                <mat-form-field class="d-block mb-2">
                  <mat-label jhiTranslate="pagopaCruscottoApp.kpiConfiguration.eligibilityThreshold"></mat-label>
                  <input matInput autocomplete="off" formControlName="eligibilityThreshold" />
                  @let eligibilityThresholdRef = editForm.get('eligibilityThreshold')!;
                  <ng-container
                    ngProjectAs="mat-error"
                    *ngIf="eligibilityThresholdRef.invalid && (eligibilityThresholdRef.dirty || eligibilityThresholdRef.touched)"
                  >
                    @if (eligibilityThresholdRef?.errors?.matStringNumeric) {
                      <mat-error class="form-text text-danger" jhiTranslate="entity.validation.number">
                        {{ 'validation.number' | translate }}
                      </mat-error>
                    }
                  </ng-container>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-3">
                <mat-form-field class="d-block mb-2">
                  <mat-label jhiTranslate="pagopaCruscottoApp.kpiConfiguration.tolerance"></mat-label>
                  <input matInput autocomplete="off" formControlName="tolerance" />
                </mat-form-field>
              </div>
              <div class="col-lg-3">
                <mat-form-field class="d-block mb-2">
                  <mat-label jhiTranslate="pagopaCruscottoApp.kpiConfiguration.evaluationType"></mat-label>
                  <mat-select formControlName="evaluationType">
                    <mat-option value="null" selected></mat-option>
                    <mat-option *ngFor="let evaluationTypeOption of evaluationTypeOptions" [value]="evaluationTypeOption.value">
                      {{ evaluationTypeOption.text | translate | uppercase }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-lg-3">
                <mat-form-field class="d-block mb-2">
                  <mat-label jhiTranslate="pagopaCruscottoApp.kpiConfiguration.averageTimeLimit"></mat-label>
                  <input matInput autocomplete="off" formControlName="averageTimeLimit" />
                </mat-form-field>
              </div>
            </div>
          </mat-card-content>
          <mat-card-actions>
            <div class="d-flex justify-content-end align-items-center w-100">
              <div class="pe-1">
                <button
                  type="button"
                  id="cancel-save"
                  mat-raised-button
                  (click)="previousState()"
                  [title]="['entity.action.cancel' | translate]"
                >
                  <mat-icon fontSet="material-symbols-outlined">cancel</mat-icon>&nbsp;
                  <span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
              </div>
              <div class="pe-1">
                <button
                  type="submit"
                  id="save-save"
                  mat-flat-button
                  color="primary"
                  [disabled]="editForm.invalid || isSaving"
                  [title]="['entity.action.save' | translate]"
                >
                  <mat-icon fontSet="material-symbols-outlined">save</mat-icon>&nbsp;
                  <span jhiTranslate="entity.action.save">Save</span>
                </button>
              </div>
            </div>
          </mat-card-actions>
        </mat-card>
      </form>
    </div>
  </div>
</div>
