@if (station) {
  <div>
    <div class="d-flex align-items-center justify-content-between w-100 mb-5">
      <div class="h2">
        <span jhiTranslate="pagopaCruscottoApp.station.detail.title">Station Detail</span> [<strong>{{ station.name }}</strong
        >]
      </div>
      <div>
        <button type="submit" mat-flat-button (click)="previousState()" [title]="['entity.action.back' | translate]">
          <mat-icon fontSet="material-symbols-outlined">undo</mat-icon><span jhiTranslate="entity.action.back">Back</span>
        </button>
      </div>
    </div>
    <div class="row mb-2">
      <div class="col-md-12">
        <mat-card class="mat-elevation-z8">
          <mat-card-content>
            <div class="row custom-row p-2">
              <div class="col-lg-2">
                <span jhiTranslate="pagopaCruscottoApp.station.activationDate">Activation Date</span>
                <p class="p-2 bg-light">{{ station.activationDate | formatDate: 'L' : locale }}</p>
              </div>
              <div class="col-lg-2">
                <span jhiTranslate="pagopaCruscottoApp.station.deactivationDate">Deactivation Date</span>
                <p class="p-2 bg-light">
                  {{ station.deactivationDate | formatDate: 'L' : locale }}
                </p>
              </div>
              <div class="col-lg-2">
                <span jhiTranslate="pagopaCruscottoApp.station.status">Status</span>
                <p class="p-2 bg-light">{{ station.status }}</p>
              </div>
              <div class="col-lg-4">
                <span jhiTranslate="pagopaCruscottoApp.station.partnerName">Partner Name</span>
                <p class="p-2 bg-light">{{ station.partnerFiscalCode }} - {{ station.partnerName }}</p>
              </div>
              <div class="col-lg-1">
                <span jhiTranslate="pagopaCruscottoApp.station.typeConnection">Connection Type</span>
                <p class="p-2 bg-light">{{ station.typeConnection }}</p>
              </div>
              <div class="col-lg-1">
                <span jhiTranslate="pagopaCruscottoApp.station.primitiveVersion">Primitive Version</span>
                <p class="p-2 bg-light">{{ station.primitiveVersion }}</p>
              </div>
              <div class="col-lg-1">
                <span jhiTranslate="pagopaCruscottoApp.station.paymentOption">Payment Option</span>
                <p class="p-2 bg-light"><jhi-yes-or-no-view [yesOrNo]="station.paymentOption"></jhi-yes-or-no-view></p>
              </div>
              <div class="col-lg-1">
                <span jhiTranslate="pagopaCruscottoApp.station.associatedInstitutes">Associated Institutes</span>
                <p class="p-2 bg-light">{{ station.associatedInstitutes }}</p>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
}
