<div>
  <div class="d-flex align-items-center justify-content-center w-100 mb-3">
    <div class="h2">
      <span class="login-title" jhiTranslate="reset.finish.title">Update Password</span>
    </div>
  </div>

  <div class="row">
    <div class="offset-md-3 col-md-6">
      <div *ngIf="key">
        <form name="passwordForm" novalidate (ngSubmit)="finishReset()" [formGroup]="passwordForm" autocomplete="off" class="edit-form">
          <mat-card class="mat-elevation-z8">
            <ngx-spinner [fullScreen]="false" type="ball-clip-rotate" size="default" color="#ffffff" name="isSaving">
              <p class="ngx-spinner-loading">Loading...</p>
            </ngx-spinner>
            <mat-card-content>
              <div class="row mt-3">
                <div class="offset-md-1 col-md-6">
                  <div class="col-md-12">
                    <div class="alert alert-warning">
                      <span jhiTranslate="reset.finish.messages.info">Select new password</span>
                    </div>
                    <div class="alert alert-danger" *ngIf="error">
                      <span jhiTranslate="reset.finish.messages.error">
                        La tua password potrebbe non essere ripristinata. Ricorda che la richiesta della password è valida solo per 24 ore
                      </span>
                    </div>
                    <div class="alert alert-danger" *ngIf="doNotMatch" jhiTranslate="global.messages.error.dontmatch">
                      La password e la sua conferma non corrispondono!
                    </div>
                  </div>

                  <div class="col-md-12">
                    @let newPasswordRef = passwordForm.get('newPassword')!;
                    <mat-form-field class="d-block mb-2">
                      <mat-label jhiTranslate="global.form.newpassword">Nuova Password</mat-label>
                      <input matInput type="password" autocomplete="off" formControlName="newPassword" #newPassword />
                      <ng-container
                        ngProjectAs="mat-error"
                        *ngIf="newPasswordRef.invalid && (newPasswordRef.dirty || newPasswordRef.touched)"
                      >
                        @if (newPasswordRef?.errors?.required) {
                          <mat-error class="form-text text-danger" jhiTranslate="entity.validation.required">
                            This field is required.
                          </mat-error>
                        }
                        @if (newPasswordRef?.errors?.minlength) {
                          <mat-error
                            class="form-text text-danger"
                            jhiTranslate="entity.validation.minlength"
                            [translateValues]="{ min: 8 }"
                          >
                            This field is required to be at least 8 characters.
                          </mat-error>
                        }
                        @if (newPasswordRef?.errors?.maxlength) {
                          <mat-error
                            class="form-text text-danger"
                            jhiTranslate="entity.validation.maxlength"
                            [translateValues]="{ max: 100 }"
                          >
                            This field cannot be longer than 100 characters.
                          </mat-error>
                        }
                      </ng-container>
                    </mat-form-field>

                    <jhi-password-strength-bar [passwordToCheck]="passwordForm.get('newPassword')!.value"></jhi-password-strength-bar>

                    @let confirmPasswordRef = passwordForm.get('confirmPassword')!;
                    <mat-form-field class="d-block mb-2">
                      <mat-label jhiTranslate="global.form.confirmpassword">Conferma Nuova Password</mat-label>
                      <input matInput type="password" autocomplete="off" formControlName="confirmPassword" />
                      <ng-container
                        ngProjectAs="mat-error"
                        *ngIf="confirmPasswordRef.invalid && (confirmPasswordRef.dirty || confirmPasswordRef.touched)"
                      >
                        @if (confirmPasswordRef?.errors?.required) {
                          <mat-error class="form-text text-danger" jhiTranslate="entity.validation.required">
                            This field is required.
                          </mat-error>
                        }
                        @if (confirmPasswordRef?.errors?.minlength) {
                          <mat-error
                            class="form-text text-danger"
                            jhiTranslate="entity.validation.minlength"
                            [translateValues]="{ min: 8 }"
                          >
                            This field is required to be at least 8 characters.
                          </mat-error>
                        }
                        @if (confirmPasswordRef?.errors?.maxlength) {
                          <mat-error
                            class="form-text text-danger"
                            jhiTranslate="entity.validation.maxlength"
                            [translateValues]="{ max: 100 }"
                          >
                            This field cannot be longer than 100 characters.
                          </mat-error>
                        }
                      </ng-container>
                    </mat-form-field>

                    <div class="d-flex align-items-center justify-content-end w-100 mb-3 mt-2">
                      <button
                        type="submit"
                        [disabled]="passwordForm.invalid || isSaving"
                        mat-stroked-button
                        color="primary"
                        class="w-100"
                        [title]="['reset.finish.form.button' | translate]"
                      >
                        <span jhiTranslate="reset.finish.form.button">Convalida la nuova password</span>
                      </button>
                    </div>
                  </div>
                </div>
                <div class="col-md-5 border-left pt-4 mb-4">
                  <div>
                    <mat-list>
                      <div mat-subheader>
                        <strong>{{ 'password.messages.requisitiPassword' | translate }}</strong>
                      </div>
                      <mat-list-item>
                        <mat-icon fontSet="material-symbols-outlined" matListItemIcon>check</mat-icon>
                        <div matListItemLine>{{ 'password.messages.requisito1' | translate }}</div>
                      </mat-list-item>
                      <mat-list-item>
                        <mat-icon fontSet="material-symbols-outlined" matListItemIcon>check</mat-icon>
                        <div matListItemLine>{{ 'password.messages.requisito2' | translate }}</div>
                      </mat-list-item>
                      <mat-list-item>
                        <mat-icon fontSet="material-symbols-outlined" matListItemIcon>check</mat-icon>
                        <div matListItemLine>{{ 'password.messages.requisito3' | translate }}</div>
                      </mat-list-item>
                      <mat-list-item>
                        <mat-icon fontSet="material-symbols-outlined" matListItemIcon>check</mat-icon>
                        <div matListItemLine>{{ 'password.messages.requisito4' | translate }}</div>
                      </mat-list-item>
                      <mat-list-item>
                        <mat-icon fontSet="material-symbols-outlined" matListItemIcon>check</mat-icon>
                        <div matListItemLine>{{ 'password.messages.requisito5' | translate }}</div>
                      </mat-list-item>
                    </mat-list>
                  </div>
                </div>
              </div>
            </mat-card-content>
          </mat-card>
        </form>
      </div>
    </div>
  </div>
</div>
