.mat-column-id,
.mat-column-analysisDate,
.mat-column-evaluationStartDate,
.mat-column-evaluationEndDate,
.mat-column-totPayments,
.mat-column-totIncorrectPayments,
.mat-column-errorPercentage,
.mat-column-outcome,
.mat-column-negativeData {
  width: 150px;
  text-align: left !important;
  white-space: nowrap;
}

.mat-column-details {
  width: 180px;
  text-align: center !important;
}
