/* Column Widths */
.mat-column-fiscalCode,
.mat-column-name,
.mat-column-status,
.mat-column-qualified,
.mat-column-deactivationDate {
  width: 150px;
  text-align: left!important;
}

.mat-column-action {
  width: 300px;
  min-width: 200px;
  text-align: center;
}
