<ngx-spinner [fullScreen]="false" type="ball-clip-rotate" size="small" color="#ffffff" name="isLoadingResultsKpiA2AnalyticDrilldown">
  <p class="ngx-spinner-loading">Loading...</p>
</ngx-spinner>

<div class="table-responsive">
  <div class="table-container">
    <ng-container *ngIf="hasData; else noDataTemplate">
      <jhi-table-header-bar
        [showToggle]="true"
        [toggleValue]="showAllRows"
        (toggleChange)="onToggleChanged($event)"
        [toggleLabelOn]="'pagopaCruscottoApp.module.toggleForAnalyticDataDetails.showAll' | translate"
        [toggleLabelOff]="'pagopaCruscottoApp.module.toggleForAnalyticDataDetails.showOnlyNegative' | translate"
        [showPaginator]="true"
        [length]="dataSource.data.length"
        (paginatorReady)="onHeaderPaginatorReady($event)"
      >
        <span toggle-badge *ngIf="negativeCount > 0" matBadge="{{ negativeCount }}" matBadgeOverlap="false" matBadgeColor="warn"> </span>
      </jhi-table-header-bar>

      <table mat-table [dataSource]="dataSource" matSort matSortDisableClear class="full-width-table sticky-table-header">
        <ng-container matColumnDef="indicator">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element">
            <jhi-detail-status-marker type="condition" [condition]="(element.total ?? 0) > 0"></jhi-detail-status-marker>
          </td>
        </ng-container>

        <ng-container matColumnDef="fromHour">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            {{ 'pagopaCruscottoApp.module.A.2.tableLabels.KpiAnalyticResults.fromHour' | translate }}
          </th>
          <td mat-cell *matCellDef="let e">{{ e.fromHour | date: 'HH:mm' : locale }}</td>
        </ng-container>

        <ng-container matColumnDef="endHour">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            {{ 'pagopaCruscottoApp.module.A.2.tableLabels.KpiAnalyticResults.endHour' | translate }}
          </th>
          <td mat-cell *matCellDef="let e">{{ e.endHour | date: 'HH:mm' : locale }}</td>
        </ng-container>

        <ng-container matColumnDef="transferCategory">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            {{ 'pagopaCruscottoApp.module.A.2.tableLabels.KpiAnalyticResults.transferCategory' | translate }}
          </th>
          <td mat-cell *matCellDef="let e">{{ e.transferCategory }}</td>
        </ng-container>

        <ng-container matColumnDef="total">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            {{ 'pagopaCruscottoApp.module.A.2.tableLabels.KpiAnalyticResults.total' | translate }}
          </th>
          <td mat-cell *matCellDef="let e" class="text-start">{{ e.total }}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </ng-container>

    <ng-template #noDataTemplate>
      <p>{{ 'entity.list.noResult' | translate }}</p>
    </ng-template>
  </div>
</div>
