.mat-column-id,
.mat-column-analysisDate,
.mat-column-evaluationStartDate,
.mat-column-evaluationEndDate,
.mat-column-evaluationType,
.mat-column-outcome,
.mat-column-totalInstitutions,
.mat-column-okTotalInstitutions,
.mat-column-percentageOkInstitutions {
  width: 150px;
  text-align: left!important;
  white-space: nowrap;
}

.mat-column-details {
  width: 180px;
  text-align: center!important;
}