.mat-column-id,
.mat-column-analysisDate,
.mat-column-excludePlannedShutdown,
.mat-column-excludeUnplannedShutdown,
.mat-column-eligibilityThreshold,
.mat-column-tolerance,
.mat-column-evaluationType,
.mat-column-outcome,
.mat-column-details {
  text-align: center; /* Centra il contenuto orizzontalmente */
  justify-content: center; /* Centra orizzontalmente il contenuto */
  align-items: center; /* Centra verticalmente il contenuto */
}
