<div>
  <div class="d-flex align-items-center justify-content-center w-100 mb-3">
    <div *ngIf="account$ | async as account">
      <h2>
        <span class="login-title" jhiTranslate="password.title" [translateValues]="{ username: account.login }">
          Password per [<strong>{{ account.login }}</strong
          >]
        </span>
      </h2>
    </div>
  </div>

  <div class="row">
    <div class="offset-md-3 col-md-6">
      <form name="passwordForm" novalidate (ngSubmit)="changePassword()" [formGroup]="passwordForm" autocomplete="off" class="edit-form">
        <mat-card class="mat-elevation-z8">
          <ngx-spinner [fullScreen]="false" type="ball-clip-rotate" size="default" color="#ffffff" name="isSaving">
            <p class="ngx-spinner-loading">Loading...</p>
          </ngx-spinner>
          <mat-card-content>
            <div class="row mt-3">
              <div class="offset-md-1 col-md-6">
                <div class="col-md-12">
                  <div class="alert alert-danger" *ngIf="doNotMatch" jhiTranslate="global.messages.error.dontmatch">
                    The password and its confirmation do not match!
                  </div>
                </div>
                <div class="col-md-12">
                  @let currentPasswordRef = passwordForm.get('currentPassword')!;

                  <mat-form-field class="d-block mb-2">
                    <mat-label jhiTranslate="global.form.currentPassword">Current Password</mat-label>
                    <input matInput type="password" autocomplete="off" formControlName="currentPassword" />
                    <ng-container
                      ngProjectAs="mat-error"
                      *ngIf="currentPasswordRef.invalid && (currentPasswordRef.dirty || currentPasswordRef.touched)"
                    >
                      @if (newPasswordRef.errors?.required) {
                        <mat-error jhiTranslate="entity.validation.required">This field is required.</mat-error>
                      }
                    </ng-container>
                  </mat-form-field>

                  @let newPasswordRef = passwordForm.get('newPassword')!;

                  <mat-form-field class="d-block mb-2">
                    <mat-label jhiTranslate="global.form.newpassword">Nuova Password</mat-label>
                    <input matInput type="password" autocomplete="off" formControlName="newPassword" />
                    <ng-container
                      ngProjectAs="mat-error"
                      *ngIf="newPasswordRef.invalid && (newPasswordRef.dirty || newPasswordRef.touched)"
                    >
                      @if (newPasswordRef.errors?.required) {
                        <mat-error jhiTranslate="entity.validation.required">This field is required.</mat-error>
                      }
                      @if (newPasswordRef.errors?.minlength) {
                        <mat-error jhiTranslate="entity.validation.minlength" [translateValues]="{ min: 8 }"
                          >La password deve essere di almeno 8 caratteri</mat-error
                        >
                      }
                      @if (newPasswordRef.errors?.maxlength) {
                        <mat-error jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 100 }">
                          La password non può contenere più di 100 caratteri
                        </mat-error>
                      }
                    </ng-container>
                  </mat-form-field>

                  <jhi-password-strength-bar [passwordToCheck]="passwordForm.get('newPassword')!.value"></jhi-password-strength-bar>

                  @let confirmPasswordRef = passwordForm.get('confirmPassword')!;
                  <mat-form-field class="d-block mb-2">
                    <mat-label jhiTranslate="global.form.confirmpassword">Conferma Nuova Password</mat-label>
                    <input matInput type="password" autocomplete="off" formControlName="confirmPassword" />
                    <ng-container
                      ngProjectAs="mat-error"
                      *ngIf="confirmPasswordRef.invalid && (confirmPasswordRef.dirty || confirmPasswordRef.touched)"
                    >
                      @if (confirmPasswordRef.errors?.required) {
                        <mat-error jhiTranslate="entity.validation.required">This field is required.</mat-error>
                      }
                      @if (confirmPasswordRef.errors?.minlength) {
                        <mat-error jhiTranslate="entity.validation.minlength" [translateValues]="{ min: 8 }"
                          >La password deve essere di almeno 8 caratteri</mat-error
                        >
                      }
                      @if (confirmPasswordRef.errors?.maxlength) {
                        <mat-error jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 100 }">
                          La password non può contenere più di 100 caratteri
                        </mat-error>
                      }
                    </ng-container>
                  </mat-form-field>
                  <div class="d-flex align-items-center justify-content-end w-100 mb-3 mt-2">
                    <button
                      type="submit"
                      [disabled]="passwordForm.invalid || isSaving"
                      mat-stroked-button
                      color="primary"
                      class="w-100"
                      [title]="['password.form.button' | translate]"
                    >
                      <span jhiTranslate="password.form.button">Save</span>
                    </button>
                  </div>
                </div>
              </div>

              <div class="col-md-5 border-left pt-4 mb-4">
                <div>
                  <mat-list>
                    <div mat-subheader>
                      <strong>{{ 'password.messages.requisitiPassword' | translate }}</strong>
                    </div>
                    <mat-list-item>
                      <mat-icon fontSet="material-symbols-outlined" matListItemIcon>check</mat-icon>
                      <div matListItemLine>{{ 'password.messages.requisito1' | translate }}</div>
                    </mat-list-item>
                    <mat-list-item>
                      <mat-icon fontSet="material-symbols-outlined" matListItemIcon>check</mat-icon>
                      <div matListItemLine>{{ 'password.messages.requisito2' | translate }}</div>
                    </mat-list-item>
                    <mat-list-item>
                      <mat-icon fontSet="material-symbols-outlined" matListItemIcon>check</mat-icon>
                      <div matListItemLine>{{ 'password.messages.requisito3' | translate }}</div>
                    </mat-list-item>
                    <mat-list-item>
                      <mat-icon fontSet="material-symbols-outlined" matListItemIcon>check</mat-icon>
                      <div matListItemLine>{{ 'password.messages.requisito4' | translate }}</div>
                    </mat-list-item>
                    <mat-list-item>
                      <mat-icon fontSet="material-symbols-outlined" matListItemIcon>check</mat-icon>
                      <div matListItemLine>{{ 'password.messages.requisito5' | translate }}</div>
                    </mat-list-item>
                  </mat-list>
                </div>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </form>
    </div>
  </div>
</div>
