<div>
  <div class="d-flex align-items-center justify-content-center w-100 mb-3">
    <div *ngIf="account$ | async as account">
      <h2>
        <span class="login-title" jhiTranslate="password.expired.title"> Password expired </span>
      </h2>
    </div>
  </div>

  <div class="row">
    <div class="offset-md-3 col-md-6">
      <form
        name="passwordExpiredForm"
        novalidate
        (ngSubmit)="changePassword()"
        [formGroup]="passwordExpiredForm"
        autocomplete="off"
        class="edit-form"
      >
        <mat-card class="mat-elevation-z8">
          <ngx-spinner [fullScreen]="false" type="ball-clip-rotate" size="default" color="#ffffff" name="isSaving">
            <p class="ngx-spinner-loading">Loading...</p>
          </ngx-spinner>
          <mat-card-content>
            <div class="row mt-3">
              <div class="offset-md-1 col-md-6">
                <div class="col-md-12">
                  <div class="alert alert-danger" *ngIf="authenticationError" jhiTranslate="password.messages.authentication.error">
                    <strong>User not found!</strong> Please check your credentials and try again.
                  </div>
                  <div class="alert alert-danger" *ngIf="doNotMatch" jhiTranslate="global.messages.error.dontmatch">
                    The password and its confirmation do not match!
                  </div>
                </div>
                <div class="col-md-12">
                  <mat-form-field class="d-block">
                    <mat-label jhiTranslate="global.form.username">Username</mat-label>
                    <input matInput type="username" autocomplete="off" formControlName="username" />
                    <ng-container
                      ngProjectAs="mat-error"
                      *ngIf="
                        passwordExpiredForm.get('username')!.invalid &&
                        (passwordExpiredForm.get('username')!.dirty || passwordExpiredForm.get('username')!.touched)
                      "
                    >
                      @if (passwordExpiredForm.get('username')?.hasError('required')) {
                        <mat-error jhiTranslate="entity.validation.required">This field is required.</mat-error>
                      }
                      @if (passwordExpiredForm.get('username')?.hasError('maxlength')) {
                        <mat-error jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 50 }">
                          La password non può contenere più di 50 caratteri
                        </mat-error>
                      }
                    </ng-container>
                  </mat-form-field>
                  <mat-form-field class="d-block">
                    <mat-label jhiTranslate="global.form.currentPassword">Current Password</mat-label>
                    <input matInput type="password" autocomplete="off" formControlName="password" />
                    <ng-container
                      ngProjectAs="mat-error"
                      *ngIf="
                        passwordExpiredForm.get('password')!.invalid &&
                        (passwordExpiredForm.get('password')!.dirty || passwordExpiredForm.get('password')!.touched)
                      "
                    >
                      @if (passwordExpiredForm.get('password')?.hasError('required')) {
                        <mat-error jhiTranslate="entity.validation.required">This field is required.</mat-error>
                      }
                      @if (passwordExpiredForm.get('password')?.hasError('minlength')) {
                        <mat-error jhiTranslate="entity.validation.minlength" [translateValues]="{ min: 8 }">
                          La password deve essere di almeno 8 caratteri
                        </mat-error>
                      }
                      @if (passwordExpiredForm.get('password')?.hasError('maxlength')) {
                        <mat-error jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 100 }">
                          La password non può contenere più di 100 caratteri
                        </mat-error>
                      }
                    </ng-container>
                  </mat-form-field>
                  <mat-form-field class="d-block">
                    <mat-label jhiTranslate="global.form.newpassword">Nuova Password</mat-label>
                    <input matInput type="password" autocomplete="off" formControlName="passwordNew" />
                    <ng-container
                      ngProjectAs="mat-error"
                      *ngIf="
                        passwordExpiredForm.get('passwordNew')!.invalid &&
                        (passwordExpiredForm.get('passwordNew')!.dirty || passwordExpiredForm.get('passwordNew')!.touched)
                      "
                    >
                      @if (passwordExpiredForm.get('passwordNew')?.hasError('required')) {
                        <mat-error jhiTranslate="entity.validation.required">This field is required.</mat-error>
                      }
                      @if (passwordExpiredForm.get('passwordNew')?.hasError('minlength')) {
                        <mat-error jhiTranslate="entity.validation.minlength" [translateValues]="{ min: 8 }">
                          La password deve essere di almeno 8 caratteri
                        </mat-error>
                      }
                      @if (passwordExpiredForm.get('passwordNew')?.hasError('maxlength')) {
                        <mat-error jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 100 }">
                          La password non può contenere più di 100 caratteri
                        </mat-error>
                      }
                    </ng-container>
                  </mat-form-field>
                  <jhi-password-strength-bar [passwordToCheck]="passwordExpiredForm.get('passwordNew')!.value"></jhi-password-strength-bar>

                  <mat-form-field class="d-block">
                    <mat-label jhiTranslate="global.form.confirmpassword">Conferma Nuova Password</mat-label>
                    <input matInput type="password" autocomplete="off" formControlName="confirmPassword" />
                    <ng-container
                      ngProjectAs="mat-error"
                      *ngIf="
                        passwordExpiredForm.get('confirmPassword')!.invalid &&
                        (passwordExpiredForm.get('confirmPassword')!.dirty || passwordExpiredForm.get('confirmPassword')!.touched)
                      "
                    >
                      @if (passwordExpiredForm.get('confirmPassword')?.hasError('required')) {
                        <mat-error jhiTranslate="entity.validation.required">This field is required.</mat-error>
                      }
                      @if (passwordExpiredForm.get('confirmPassword')?.hasError('minlength')) {
                        <mat-error jhiTranslate="entity.validation.minlength" [translateValues]="{ min: 8 }">
                          La password deve essere di almeno 8 caratteri
                        </mat-error>
                      }
                      @if (passwordExpiredForm.get('confirmPassword')?.hasError('maxlength')) {
                        <mat-error jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 100 }">
                          La password non può contenere più di 100 caratteri
                        </mat-error>
                      }
                    </ng-container>
                  </mat-form-field>
                  <div class="d-flex align-items-center justify-content-end w-100 mb-3 mt-2">
                    <button
                      type="submit"
                      [disabled]="passwordExpiredForm.invalid || isSaving"
                      mat-raised-button
                      color="primary"
                      class="w-100"
                      [title]="['password.form.button' | translate]"
                    >
                      <span jhiTranslate="password.form.button">Save</span>
                    </button>
                  </div>
                </div>
              </div>

              <div class="col-md-5">
                <div class="row">
                  <div class="col-md-12 border-left pt-4 pb-4">
                    <div class="h6" jhiTranslate="password.messages.requisitiPassword">Requisiti Password</div>
                    <mat-list>
                      <mat-list-item>
                        <mat-icon matListItemIcon fontSet="material-symbols-outlined" class="color">check_small</mat-icon>
                        <div matListItemTitle>
                          <small jhiTranslate="password.messages.requisito1"></small>
                        </div>
                      </mat-list-item>
                      <mat-list-item>
                        <mat-icon matListItemIcon fontSet="material-symbols-outlined" class="color">check_small</mat-icon>
                        <div matListItemTitle>
                          <small jhiTranslate="password.messages.requisito2"></small>
                        </div>
                      </mat-list-item>
                      <mat-list-item>
                        <mat-icon matListItemIcon fontSet="material-symbols-outlined" class="color">check_small</mat-icon>
                        <div matListItemTitle>
                          <small jhiTranslate="password.messages.requisito5"></small>
                        </div>
                      </mat-list-item>
                      <mat-list-item>
                        <mat-icon matListItemIcon fontSet="material-symbols-outlined" class="color">check_small</mat-icon>
                        <div matListItemTitle>
                          <small jhiTranslate="password.messages.requisito3"></small>
                        </div>
                      </mat-list-item>
                      <mat-list-item>
                        <mat-icon matListItemIcon fontSet="material-symbols-outlined" class="color">check_small</mat-icon>
                        <div matListItemTitle>
                          <small jhiTranslate="password.messages.requisito4"></small>
                        </div>
                      </mat-list-item>
                    </mat-list>
                  </div>
                </div>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </form>
      <div class="d-flex align-items-center justify-content-center w-100 mb-5 mt-5">
        <img src="content/images/nexi_blue_563x172.png" class="img-fluid" aria-label="logoNexi" alt="logo" />
      </div>
    </div>
  </div>
</div>
