<div>
  <div class="d-flex align-items-center justify-content-center w-100 mb-3">
    <div *ngIf="account$ | async as account">
      <div class="h2">
        <span class="login-title" jhiTranslate="password.expired.title"> Password expired </span>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="offset-md-3 col-md-6">
      <form
        name="passwordExpiredForm"
        novalidate
        (ngSubmit)="changePassword()"
        [formGroup]="passwordExpiredForm"
        autocomplete="off"
        class="edit-form"
      >
        <mat-card class="mat-elevation-z8">
          <ngx-spinner [fullScreen]="false" type="ball-clip-rotate" size="default" color="#ffffff" name="isSaving">
            <p class="ngx-spinner-loading">Loading...</p>
          </ngx-spinner>
          <mat-card-content>
            <div class="row mt-3">
              <div class="offset-md-1 col-md-6">
                <div class="col-md-12">
                  <div class="alert alert-danger" *ngIf="authenticationError" jhiTranslate="password.messages.authentication.error">
                    <strong>User not found!</strong> Please check your credentials and try again.
                  </div>
                  <div class="alert alert-danger" *ngIf="doNotMatch" jhiTranslate="global.messages.error.dontmatch">
                    The password and its confirmation do not match!
                  </div>
                </div>
                <div class="col-md-12">
                  @let passwordRef = passwordExpiredForm.get('password')!;
                  <mat-form-field class="d-block mb-2">
                    <mat-label jhiTranslate="global.form.currentPassword">Current Password</mat-label>
                    <input matInput type="password" autocomplete="off" formControlName="password" />
                    <ng-container ngProjectAs="mat-error" *ngIf="passwordRef.invalid && (passwordRef.dirty || passwordRef.touched)">
                      @if (passwordRef?.errors?.required) {
                        <mat-error class="form-text text-danger" jhiTranslate="entity.validation.required">
                          This field is required.
                        </mat-error>
                      }
                      @if (passwordRef?.errors?.minlength) {
                        <mat-error class="form-text text-danger" jhiTranslate="entity.validation.minlength" [translateValues]="{ min: 8 }">
                          This field is required to be at least 8 characters.
                        </mat-error>
                      }
                      @if (passwordRef?.errors?.maxlength) {
                        <mat-error
                          class="form-text text-danger"
                          jhiTranslate="entity.validation.maxlength"
                          [translateValues]="{ max: 100 }"
                        >
                          This field cannot be longer than 100 characters.
                        </mat-error>
                      }
                    </ng-container>
                  </mat-form-field>

                  @let passwordNewRef = passwordExpiredForm.get('passwordNew')!;

                  <mat-form-field class="d-block mb-2">
                    <mat-label jhiTranslate="global.form.newpassword">Nuova Password</mat-label>
                    <input matInput type="password" autocomplete="off" formControlName="passwordNew" />
                    <ng-container
                      ngProjectAs="mat-error"
                      *ngIf="passwordNewRef.invalid && (passwordNewRef.dirty || passwordNewRef.touched)"
                    >
                      @if (passwordNewRef?.errors?.required) {
                        <mat-error class="form-text text-danger" jhiTranslate="entity.validation.required">
                          This field is required.
                        </mat-error>
                      }
                      @if (passwordNewRef?.errors?.minlength) {
                        <mat-error class="form-text text-danger" jhiTranslate="entity.validation.minlength" [translateValues]="{ min: 8 }">
                          This field is required to be at least 8 characters.
                        </mat-error>
                      }
                      @if (passwordNewRef?.errors?.maxlength) {
                        <mat-error
                          class="form-text text-danger"
                          jhiTranslate="entity.validation.maxlength"
                          [translateValues]="{ max: 100 }"
                        >
                          This field cannot be longer than 100 characters.
                        </mat-error>
                      }
                    </ng-container>
                  </mat-form-field>

                  <jhi-password-strength-bar [passwordToCheck]="passwordExpiredForm.get('passwordNew')!.value"></jhi-password-strength-bar>

                  @let confirmPasswordRef = passwordExpiredForm.get('confirmPassword')!;
                  <mat-form-field class="d-block mb-2">
                    <mat-label jhiTranslate="global.form.confirmpassword">Conferma Nuova Password</mat-label>
                    <input matInput type="password" autocomplete="off" formControlName="confirmPassword" />
                    <ng-container
                      ngProjectAs="mat-error"
                      *ngIf="confirmPasswordRef.invalid && (confirmPasswordRef.dirty || confirmPasswordRef.touched)"
                    >
                      @if (confirmPasswordRef?.errors?.required) {
                        <mat-error class="form-text text-danger" jhiTranslate="entity.validation.required">
                          This field is required.
                        </mat-error>
                      }
                      @if (confirmPasswordRef?.errors?.minlength) {
                        <mat-error class="form-text text-danger" jhiTranslate="entity.validation.minlength" [translateValues]="{ min: 8 }">
                          This field is required to be at least 8 characters.
                        </mat-error>
                      }
                      @if (confirmPasswordRef?.errors?.maxlength) {
                        <mat-error
                          class="form-text text-danger"
                          jhiTranslate="entity.validation.maxlength"
                          [translateValues]="{ max: 100 }"
                        >
                          This field cannot be longer than 100 characters.
                        </mat-error>
                      }
                    </ng-container>
                  </mat-form-field>
                  <div class="d-flex align-items-center justify-content-end w-100 mb-3 mt-2">
                    <button
                      type="submit"
                      [disabled]="passwordExpiredForm.invalid || isSaving"
                      mat-stroked-button
                      color="primary"
                      class="w-100"
                      [title]="['password.form.button' | translate]"
                    >
                      <span jhiTranslate="password.form.button">Save</span>
                    </button>
                  </div>
                </div>
              </div>
              <div class="col-md-5 border-left pt-4 mb-4">
                <div>
                  <mat-list>
                    <div mat-subheader>
                      <strong>{{ 'password.messages.requisitiPassword' | translate }}</strong>
                    </div>
                    <mat-list-item>
                      <mat-icon fontSet="material-symbols-outlined" matListItemIcon>check</mat-icon>
                      <div matListItemLine>{{ 'password.messages.requisito1' | translate }}</div>
                    </mat-list-item>
                    <mat-list-item>
                      <mat-icon fontSet="material-symbols-outlined" matListItemIcon>check</mat-icon>
                      <div matListItemLine>{{ 'password.messages.requisito2' | translate }}</div>
                    </mat-list-item>
                    <mat-list-item>
                      <mat-icon fontSet="material-symbols-outlined" matListItemIcon>check</mat-icon>
                      <div matListItemLine>{{ 'password.messages.requisito3' | translate }}</div>
                    </mat-list-item>
                    <mat-list-item>
                      <mat-icon fontSet="material-symbols-outlined" matListItemIcon>check</mat-icon>
                      <div matListItemLine>{{ 'password.messages.requisito4' | translate }}</div>
                    </mat-list-item>
                    <mat-list-item>
                      <mat-icon fontSet="material-symbols-outlined" matListItemIcon>check</mat-icon>
                      <div matListItemLine>{{ 'password.messages.requisito5' | translate }}</div>
                    </mat-list-item>
                  </mat-list>
                </div>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </form>
      <div class="d-flex align-items-center justify-content-center w-100 mb-5 mt-5">
        <img src="content/images/nexi_blue_563x172.png" class="img-fluid" aria-label="logoNexi" alt="logo" />
      </div>
    </div>
  </div>
</div>
