/* Column Widths */
.mat-column-moduleName,
.mat-column-moduleCode,
.mat-column-excludePlannedShutdown,
.mat-column-excludeUnplannedShutdown,
.mat-column-eligibilityThreshold,
.mat-column-tolerance,
.mat-column-averageTimeLimit,
.mat-column-evaluationType {
  width: 150px;
  text-align: left!important;
  white-space: nowrap;
}

.mat-column-action {
  width: 300px;
  min-width: 200px;
  text-align: center;
  white-space: nowrap;
}
