<h2 mat-dialog-title *ngIf="title">{{ title }}</h2>
<mat-dialog-content>
  <p [innerHTML]="body"></p>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button type="button" mat-stroked-button [title]="['entity.action.cancel' | translate]" (click)="cancel()">
    <mat-icon fontSet="material-symbols-outlined" aria-hidden="false">cancel</mat-icon>
    &nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
  </button>

  <button type="button" mat-flat-button (click)="confirm()" [title]="['entity.action.save' | translate]" color="primary">
    <mat-icon fontSet="material-symbols-outlined" aria-hidden="false">check</mat-icon>
    &nbsp;<span jhiTranslate="entity.action.confirm">Confirm</span>
  </button>
</mat-dialog-actions>
