.mat-column-id,
.mat-column-stationName,
.mat-column-method,
.mat-column-evaluationDate,
.mat-column-totReq,
.mat-column-reqOk,
.mat-column-reqTimeout,
.mat-column-avgTime {
  text-align: center; /* Centra il contenuto del testo orizzontalmente */
  justify-content: center; /* Centra orizzontalmente il contenuto */
  align-items: center; /* Centra verticalmente il contenuto */
}
