<div>
  <h2>
    <span id="health-page-heading" data-cy="healthPageHeading" jhiTranslate="health.title">Verifiche</span>

    <button class="btn btn-primary float-end" (click)="refresh()">
      <fa-icon icon="sync"></fa-icon> <span jhiTranslate="health.refresh.button">Aggiorna</span>
    </button>
  </h2>

  <div class="table-responsive">
    <table id="healthCheck" class="table table-striped" aria-describedby="health-page-heading">
      <thead>
        <tr>
          <th scope="col" jhiTranslate="health.table.service">Nome del servizio</th>
          <th scope="col" class="text-center" jhiTranslate="health.table.status">Stato</th>
          <th scope="col" class="text-center" jhiTranslate="health.details.details">Dettagli</th>
        </tr>
      </thead>
      @if (health) {
        <tbody>
          @for (componentHealth of health.components | keyvalue; track componentHealth.key) {
            <tr>
              <td [jhiTranslate]="'health.indicator.' + componentHealth.key">
                {{
                  {
                    discoveryComposite: 'Discovery Composite',
                    refreshScope: 'Scopo di Aggiornamento Microservice',
                    clientConfigServer: 'Server di Configurazioni Microservice',
                    hystrix: 'Hystrix',
                    consul: 'Consul',
                    diskSpace: 'Spazio su disco',
                    mail: 'Email',
                    livenessState: 'Liveness state',
                    readinessState: 'Readiness state',
                    ping: 'Application',
                    db: 'Database',
                  }[componentHealth.key] || componentHealth.key
                }}
              </td>
              <td class="text-center">
                <span
                  class="badge"
                  [ngClass]="getBadgeClass(componentHealth.value!.status)"
                  [jhiTranslate]="'health.status.' + (componentHealth.value?.status ?? 'UNKNOWN')"
                >
                  {{
                    { UNKNOWN: 'UNKNOWN', UP: 'DISPONIBILE', OUT_OF_SERVICE: 'OUT_OF_SERVICE', DOWN: 'NON DISPONIBILE' }[
                      componentHealth.value?.status ?? 'UNKNOWN'
                    ]
                  }}
                </span>
              </td>
              <td class="text-center">
                @if (componentHealth.value!.details) {
                  <a class="hand" (click)="showHealth({ key: componentHealth.key, value: componentHealth.value! })">
                    <fa-icon icon="eye"></fa-icon>
                  </a>
                }
              </td>
            </tr>
          }
        </tbody>
      }
    </table>
  </div>
</div>
