<mat-card class="mat-elevation-z8">
  <mat-card-header>
    <mat-card-title>
      {{ 'pagopaCruscottoApp.authFunction.managePermissions.assignablePermissions.title' | translate }}
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <ngx-spinner [fullScreen]="false" type="ball-clip-rotate" size="default" color="#ffffff" name="isLoadingAssignablePermissions">
      <p class="ngx-spinner-loading">Loading...</p>
    </ngx-spinner>

    <div class="d-flex align-items-center justify-content-between w-100 bg-paginator">
      <div>
        <button
          type="button"
          mat-raised-button
          size="small"
          color="primary"
          [matBadge]="selection.selected.length + ''"
          [matBadgeHidden]="selection.isEmpty()"
          matBadgeColor="accent"
          matBadgePosition="after"
          (click)="associaPermessi()"
          [disabled]="isLoadingResults || data.length <= 0 || !selection.hasValue()"
        >
          <mat-icon fontSet="material-symbols-outlined" aria-hidden="false">check_box</mat-icon>
          <span jhiTranslate="pagopaCruscottoApp.authFunction.managePermissions.assignablePermissions.action.associa"
            >Assignable permission selected</span
          >
        </button>
      </div>
      <div>
        <mat-paginator
          *ngIf="resultsLength > 0"
          [pageSize]="itemsPerPage"
          [pageIndex]="page - 1"
          [disabled]="isLoadingResults"
          [length]="resultsLength"
          (page)="changePage($event)"
          showFirstLastButtons
          aria-label="Select page of periodic elements"
        >
        </mat-paginator>
      </div>
    </div>

    <div class="table-responsive">
      <div class="table-container">
        <table
          mat-table
          [dataSource]="data"
          class="w-100"
          (matSortChange)="sortData($event)"
          [matSortActive]="filter.sort.field"
          [matSortDirection]="filter.sort.direction"
          matSort
          matSortDisableClear
        >
          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef>
              <mat-checkbox
                color="primary"
                [disabled]="data.length === 0 || maxCheckboxSelected === selection.selected.length"
                (change)="$event ? masterToggle($event) : null"
                [checked]="selection.hasValue() && isAllSelected()"
                [indeterminate]="isPartialPageSelected()"
              >
              </mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let row">
              <mat-checkbox
                color="primary"
                (click)="$event.stopPropagation()"
                (change)="$event ? selection.toggle(row) : null"
                [disabled]="selection.selected.length === maxCheckboxSelected && !selection.isSelected(row)"
                [checked]="onCheckRowSelected(row)"
              >
              </mat-checkbox>
            </td>
          </ng-container>

          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              {{ 'global.field.id' | translate }}
            </th>
            <td mat-cell *matCellDef="let row">{{ row.id }}</td>
          </ng-container>

          <ng-container matColumnDef="nome">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              {{ 'pagopaCruscottoApp.authPermission.name' | translate }}
            </th>
            <td mat-cell *matCellDef="let row">{{ row.nome }}</td>
          </ng-container>

          <ng-container matColumnDef="modulo">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              {{ 'pagopaCruscottoApp.authPermission.module' | translate }}
            </th>
            <td mat-cell *matCellDef="let row">{{ row.modulo }}</td>
          </ng-container>

          <ng-container matColumnDef="filter">
            <td mat-footer-cell *matFooterCellDef colspan="4">
              <mat-form-field class="w-100">
                <mat-label>{{ 'entity.action.search' | translate }}</mat-label>
                <input matInput (ngModelChange)="modelChangeFn($event)" [(ngModel)]="filterValue" />
                <div matSuffix>
                  <button
                    mat-icon-button
                    (click)="removeFilter($event)"
                    type="button"
                    [attr.aria-label]="['entity.action.clear' | translate]"
                  >
                    <mat-icon fontSet="material-symbols-outlined" color="accent" aria-hidden="false">close_small</mat-icon>
                  </button>
                </div>
              </mat-form-field>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>

          <tr mat-row *matRowDef="let row; columns: displayedColumns" [ngClass]="{ highlightTableColor: selection.isSelected(row) }"></tr>

          <tr mat-footer-row *matFooterRowDef="['filter']; sticky: true"></tr>

          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell font-weight-bold text-center" colspan="4">{{ 'entity.list.noResult' | translate }}</td>
          </tr>
        </table>
      </div>
    </div>
    <span
      jhiTranslate="pagopaCruscottoApp.authFunction.managePermissions.assignablePermissions.message.limit.selected"
      [translateValues]="{ param: maxCheckboxSelected }"
      class="p-2 float-end"
    ></span>
  </mat-card-content>
</mat-card>
