<mat-card class="mat-elevation-z8">
  <mat-card-header>
    <mat-card-title>
      {{ 'pagopaCruscottoApp.authFunction.managePermissions.associatedPermissions.title' | translate }}
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <ngx-spinner [fullScreen]="false" type="ball-clip-rotate" size="default" color="#ffffff" name="isLoadingAssociatedPermissions">
      <p class="ngx-spinner-loading">Loading...</p>
    </ngx-spinner>
    <mat-paginator
      *ngIf="resultsLength > 0"
      [pageSize]="itemsPerPage"
      [pageIndex]="page - 1"
      [disabled]="isLoadingResults"
      [length]="resultsLength"
      (page)="changePage($event)"
      showFirstLastButtons
      aria-label="Select page of periodic elements"
    >
    </mat-paginator>
    <div class="table-responsive">
      <div class="table-container">
        <table
          mat-table
          [dataSource]="data"
          class="w-100"
          (matSortChange)="sortData($event)"
          [matSortActive]="filter.sort.field"
          [matSortDirection]="filter.sort.direction"
          matSort
          matSortDisableClear
        >
          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef>{{ 'entity.list.column.actions.label' | translate }}</th>
            <td mat-cell *matCellDef="let row">
              <div class="d-flex justify-content-center align-items-center">
                <div>
                  <button
                    mat-icon-button
                    type="button"
                    matTooltip="{{ 'entity.action.remove' | translate }}"
                    matTooltipPosition="above"
                    (click)="remove(row)"
                  >
                    <mat-icon fontSet="material-symbols-outlined" color="warn" aria-hidden="false">remove</mat-icon>
                  </button>
                </div>
              </div>
            </td>
          </ng-container>

          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              {{ 'global.field.id' | translate }}
            </th>
            <td mat-cell *matCellDef="let row">{{ row.id }}</td>
          </ng-container>

          <ng-container matColumnDef="nome">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              {{ 'pagopaCruscottoApp.authPermission.name' | translate }}
            </th>
            <td mat-cell *matCellDef="let row">{{ row.nome }}</td>
          </ng-container>

          <ng-container matColumnDef="modulo">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              {{ 'pagopaCruscottoApp.authPermission.module' | translate }}
            </th>
            <td mat-cell *matCellDef="let row">{{ row.modulo }}</td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>

          <tr mat-row *matRowDef="let row; columns: displayedColumns" [ngClass]="{ highlightTableColor: selectedRowId == row.id }"></tr>

          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell font-weight-bold text-center" colspan="4">{{ 'entity.list.noResult' | translate }}</td>
          </tr>
        </table>
      </div>
    </div>
  </mat-card-content>
</mat-card>
