.mat-column-cfPartner,
.mat-column-station,
.mat-column-transferCategory,
.mat-column-startDate,
.mat-column-endDate {
  width: 150px;
  text-align: left!important;
  white-space: nowrap;
}

.mat-column-total {
  width: 150px;
  text-align: left!important;
}
