.mat-column-cfPartner,
.mat-column-station,
.mat-column-transferCategory,
.mat-column-startDate,
.mat-column-endDate {
  width: 150px;
  text-align: center;
}

.mat-column-total {
  width: 150px;
  text-align: right;
}
