<header>
  <mat-toolbar color="primary">
    <span class="flex-1 ms-5">
      <a class="logo-img" href="#" [routerLink]="['/home']" aria-label="goToHome"></a>
      {{ 'global.title' | translate }}
      <jhi-language-picker class="ms-3"></jhi-language-picker>
    </span>
    <button mat-button class="nav-item-btn" [routerLink]="['/home']" [routerLinkActive]="['active']">
      {{ 'global.menu.home' | translate }}
    </button>
    <ng-container *ngIf="isAuthenticated()">
      <span [ngClass]="this.currentRange === 'Large' || this.currentRange === 'Medium' ? 'd-block ps-1 pe-1' : 'd-none ps-1 pe-1'">
        <button
          mat-button
          class="nav-item-btn"
          [matMenuTriggerFor]="qualificaPartnerMenu"
          [class.active]="isActive(qualificaPartnerActiveItems)"
          *jhiHasAnyAuthorityMenu="qualificaPartnerAuthItems"
        >
          Qualifica partner
          <mat-icon fontSet="material-symbols-outlined" class="mr-2">arrow_drop_down</mat-icon>
        </button>

        <ng-container *ngIf="ricercaOperazioniMenuItem as ricercaOperazioniItem">
          <button
            mat-button
            class="nav-item-btn"
            [routerLink]="ricercaOperazioniItem.route"
            [routerLinkActive]="['active']"
            *jhiHasAnyAuthorityMenu="[ricercaOperazioniItem]"
          >
            Ricerca operazioni
          </button>
        </ng-container>

        <button mat-button class="nav-item-btn" disabled>Flussi di rendicontazione</button>

        <button
          mat-button
          class="nav-item-btn"
          [matMenuTriggerFor]="amministrazioneMenu"
          [class.active]="isActive(amministrazioneActiveItems)"
          *jhiHasAnyAuthorityMenu="amministrazioneAuthItems"
        >
          Amministrazione
          <mat-icon fontSet="material-symbols-outlined" class="mr-2">arrow_drop_down</mat-icon>
        </button>
      </span>
    </ng-container>
    <ng-container>
      <button
        mat-icon-button
        class="mr-2 nav-overflow-btn"
        [matMenuTriggerFor]="dropMenu"
        [ngClass]="{
          'd-none': this.currentRange === 'Large',
          'd-block': this.currentRange === 'Medium' || this.currentRange === 'Small' || this.currentRange === 'XSmall',
        }"
      >
        <mat-icon fontSet="material-symbols-outlined" aria-hidden="false" class="text-white">more_vert</mat-icon>
      </button>
      <mat-menu #dropMenu="matMenu" panelClass="header-nav-menu">
        <ng-container *ngIf="isAuthenticated()">
          <button
            mat-menu-item
            class="header-nav-menu-item"
            [matMenuTriggerFor]="qualificaPartnerMenu"
            [class.active]="isActive(qualificaPartnerActiveItems)"
            *jhiHasAnyAuthorityMenu="qualificaPartnerAuthItems"
          >
            Qualifica partner
          </button>

          <ng-container *ngIf="ricercaOperazioniMenuItem as ricercaOperazioniItem">
            <button
              mat-menu-item
              class="header-nav-menu-item"
              [routerLink]="ricercaOperazioniItem.route"
              *jhiHasAnyAuthorityMenu="[ricercaOperazioniItem]"
            >
              Ricerca operazioni
            </button>
          </ng-container>

          <button mat-menu-item class="header-nav-menu-item" disabled>Flussi di rendicontazione</button>

          <button
            mat-menu-item
            class="header-nav-menu-item"
            [matMenuTriggerFor]="amministrazioneMenu"
            [class.active]="isActive(amministrazioneActiveItems)"
            *jhiHasAnyAuthorityMenu="amministrazioneAuthItems"
          >
            Amministrazione
          </button>
        </ng-container>
      </mat-menu>
    </ng-container>

    <mat-menu #qualificaPartnerMenu="matMenu" panelClass="header-nav-menu">
      <ng-container *ngIf="instanceMenuItem as instanceItem">
        <button mat-menu-item class="header-nav-menu-item" [routerLink]="instanceItem.route" *jhiHasAnyAuthorityMenu="[instanceItem]">
          Istanze
        </button>
      </ng-container>

      <button mat-menu-item class="header-nav-menu-item" [matMenuTriggerFor]="anagraficaMenu" *jhiHasAnyAuthorityMenu="anagraficaMenuItems">
        Anagrafica
      </button>
      <button
        mat-menu-item
        class="header-nav-menu-item"
        [matMenuTriggerFor]="configurazioniMenu"
        *jhiHasAnyAuthorityMenu="configurazioniMenuItems"
      >
        Configurazioni
      </button>
    </mat-menu>

    <mat-menu #anagraficaMenu="matMenu" panelClass="header-nav-menu">
      <ng-container *ngFor="let item of anagraficaMenuItems">
        <button
          mat-menu-item
          class="header-nav-menu-item"
          [routerLink]="item.route"
          [routerLinkActive]="item.route ? 'active' : ''"
          *jhiHasAnyAuthorityMenu="[item]"
        >
          {{ item.label | translate }}
        </button>
      </ng-container>
    </mat-menu>

    <mat-menu #configurazioniMenu="matMenu" panelClass="header-nav-menu">
      <ng-container *ngFor="let item of configurazioniMenuItems">
        <button
          mat-menu-item
          class="header-nav-menu-item"
          [routerLink]="item.route"
          [routerLinkActive]="item.route ? 'active' : ''"
          *jhiHasAnyAuthorityMenu="[item]"
        >
          {{ item.label | translate }}
        </button>
      </ng-container>
    </mat-menu>

    <mat-menu #amministrazioneMenu="matMenu" panelClass="header-nav-menu">
      <button mat-menu-item class="header-nav-menu-item" [matMenuTriggerFor]="utentiMenu" *jhiHasAnyAuthorityMenu="utentiMenuItems">
        Utenti
      </button>
      <button mat-menu-item class="header-nav-menu-item" [matMenuTriggerFor]="generaleMenu" *jhiHasAnyAuthorityMenu="generaleMenuItems">
        Generale
      </button>
    </mat-menu>

    <mat-menu #utentiMenu="matMenu" panelClass="header-nav-menu">
      <ng-container *ngFor="let item of utentiMenuItems">
        <button
          mat-menu-item
          class="header-nav-menu-item"
          [routerLink]="item.route"
          [routerLinkActive]="item.route ? 'active' : ''"
          *jhiHasAnyAuthorityMenu="[item]"
        >
          {{ item.label | translate }}
        </button>
      </ng-container>
    </mat-menu>

    <mat-menu #generaleMenu="matMenu" panelClass="header-nav-menu">
      <ng-container *ngFor="let item of generaleMenuItems">
        <button
          mat-menu-item
          class="header-nav-menu-item"
          [routerLink]="item.route"
          [routerLinkActive]="item.route ? 'active' : ''"
          *jhiHasAnyAuthorityMenu="[item]"
        >
          {{ item.label | translate }}
        </button>
      </ng-container>
    </mat-menu>

    <span *ngIf="!isAuthenticated()">
      <button mat-button (click)="loginWithSSO()" aria-label="goToLoginPage">
        <mat-icon class="me-2" fontSet="material-symbols-outlined">login</mat-icon>
        {{ 'global.menu.account.login' | translate }}
      </button>
    </span>

    <button
      mat-mini-fab
      [matMenuTriggerFor]="manageAccounts"
      *ngIf="isAuthenticated()"
      class="ml-5"
      id="manageAccount"
      aria-label="manageAccount"
    >
      <mat-icon class="mr-2 ml-2" fontSet="material-symbols-outlined" aria-hidden="false">manage_accounts</mat-icon>
    </button>
    <mat-menu #manageAccounts="matMenu">
      <ng-template matMenuContent>
        <mat-card class="user-card">
          <mat-card-header>
            <div mat-card-avatar class="user-header-image"></div>
            @let accountRef = account();
            <mat-card-title>{{ accountRef?.firstName }}</mat-card-title>
            <mat-card-subtitle>{{ accountRef?.lastName }}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-footer class="pb-2">
            <mat-list>
              <mat-list-item role="menuitem" *ngIf="isAuthenticated() && hasAuthorityChangePasswordExpired()">
                <button
                  mat-stroked-button
                  color="primary"
                  [routerLink]="'/account/password-expired'"
                  class="w-100"
                  aria-label="changeExpiredPassword"
                >
                  <mat-icon fontSet="material-symbols-outlined">password</mat-icon>
                  {{ 'global.menu.account.passwordExpired' | translate }}
                </button>
              </mat-list-item>
              <!-- <mat-list-item role="menuitem" *ngIf="isAuthenticated() && !hasAuthorityChangePasswordExpired()">
                <button mat-stroked-button color="primary" [routerLink]="'/account/password'" class="w-100" aria-label="changePassword">
                  <mat-icon fontSet="material-symbols-outlined">password</mat-icon>
                  {{ 'global.menu.account.password' | translate }}
                </button>
              </mat-list-item> -->
              <mat-list-item role="menuitem" *ngIf="isAuthenticated() && !hasAuthorityChangePasswordExpired()">
                <button mat-stroked-button color="primary" (click)="goToSettings()" class="w-100" aria-label="changeSettings">
                  <mat-icon fontSet="material-symbols-outlined">settings</mat-icon>
                  {{ 'global.menu.account.settings' | translate }}
                </button>
              </mat-list-item>
              <mat-list-item role="menuitem">
                <button mat-stroked-button color="accent" class="w-100" (click)="logout()" aria-label="logout">
                  <mat-icon fontSet="material-symbols-outlined">logout</mat-icon>
                  {{ 'global.menu.account.logout' | translate }}
                </button>
              </mat-list-item>
            </mat-list>
          </mat-card-footer>
        </mat-card>
      </ng-template>
    </mat-menu>
  </mat-toolbar>
</header>
