/* Column Widths */
.mat-column-action {
  width: 300px;
  min-width: 200px;
  text-align: center!important;
  white-space: nowrap;
}

td.mat-column-stato {
  width: 150px;
  text-align: left;
}

th.mat-column-stato {
  width: 150px;
  text-align: left!important;
  white-space: nowrap;
}

.mat-column-id,
.mat-column-login,
.mat-column-authenticationType,
.mat-column-email,
.mat-column-langKey,
.mat-column-group,
.mat-column-createdDate,
.mat-column-lastModifiedBy,
.mat-column-lastModifiedDate,
.mat-column-isBlocked,
.mat-column-isDeleted {
  width: 150px;
  text-align: left!important;
  white-space: nowrap;
}
