.mat-column-cfPartner,
.mat-column-station,
.mat-column-startDate,
.mat-column-endDate {
  width: 150px;
  text-align: center;
}

.mat-column-totRes,
.mat-column-resOk,
.mat-column-resKo {
  width: 150px;
  text-align: right;
}
