<ngx-spinner [fullScreen]="false" type="ball-clip-rotate" size="small" color="#ffffff" name="isLoadingResultsKpiC1AnalyticDrilldown">
  <p class="ngx-spinner-loading">Loading...</p>
</ngx-spinner>
<mat-paginator [pageSize]="35" [pageSizeOptions]="[35, 50, 100]" showFirstLastButtons [hidden]="!hasData"> </mat-paginator>

<div *ngIf="hasData; else noDataTemplate" class="kpi-table-container mat-elevation-z8">
  <table
    mat-table
    [dataSource]="dataSource"
    matSort
    [matSortActive]="'referenceDate'"
    [matSortDirection]="'asc'"
    (matSortChange)="sortData($event)"
    matSortDisableClear
    class="full-width-table"
  >
    <ng-container matColumnDef="referenceDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        {{ 'pagopaCruscottoApp.module.C.1.tableLabels.KpiAnalyticDrillDown.referenceDate' | translate }}
      </th>
      <td mat-cell *matCellDef="let r">{{ r.referenceDate | formatDate: 'L' : locale }}</td>
    </ng-container>

    <ng-container matColumnDef="dataDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        {{ 'pagopaCruscottoApp.module.C.1.tableLabels.KpiAnalyticDrillDown.dataDate' | translate }}
      </th>
      <td mat-cell *matCellDef="let r">{{ r.dataDate | formatDate: 'L' : locale }}</td>
    </ng-container>

    <ng-container matColumnDef="cfInstitution">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        {{ 'pagopaCruscottoApp.module.C.1.tableLabels.KpiAnalyticDrillDown.cfInstitution' | translate }}
      </th>
      <td mat-cell *matCellDef="let e">{{ e.cfInstitution }}</td>
    </ng-container>

    <ng-container matColumnDef="positionsCount">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        {{ 'pagopaCruscottoApp.module.C.1.tableLabels.KpiAnalyticDrillDown.positionsCount' | translate }}
      </th>
      <td mat-cell *matCellDef="let r">{{ r.positionsCount | number }}</td>
    </ng-container>

    <ng-container matColumnDef="messagesCount">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        {{ 'pagopaCruscottoApp.module.C.1.tableLabels.KpiAnalyticDrillDown.messagesCount' | translate }}
      </th>
      <td mat-cell *matCellDef="let r">{{ r.messagesCount | number }}</td>
    </ng-container>

    <ng-container matColumnDef="percentage">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        {{ 'pagopaCruscottoApp.module.C.1.tableLabels.KpiAnalyticDrillDown.percentage' | translate }}
      </th>
      <td mat-cell *matCellDef="let r">
        <!-- @if (r.percentage) { -->
        {{ r.percentage | number: '1.2-2' }}
        <span class="fw-bold">{{ 'abbr.percent' | translate }}</span>
        <!-- } @else {
              
            } -->
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>

<ng-template #noDataTemplate>
  <p>{{ 'entity.list.noResult' | translate }}</p>
</ng-template>
