<div *ngIf="function">
  <div class="d-flex align-items-center justify-content-between w-100 mb-5">
    <div class="h2"><span jhiTranslate="pagopaCruscottoApp.authFunction.detail.title">Function</span> {{ function.id }}</div>
    <div>
      <button type="submit" mat-flat-button (click)="previousState()" [title]="['entity.action.back' | translate]">
        <mat-icon fontSet="material-symbols-outlined">undo</mat-icon><span jhiTranslate="entity.action.back">Back</span>
      </button>
      <button
        id="jh-create-entity"
        mat-raised-button
        *jhiHasAnyAuthority="Authority.FUNCTION_MANAGEMENT"
        color="primary"
        [routerLink]="['/admin-users/functions', function.id, 'edit']"
        [title]="['pagopaCruscottoApp.authFunction.detail.modify.title' | translate]"
      >
        <mat-icon fontSet="material-symbols-outlined">edit</mat-icon
        ><span jhiTranslate="pagopaCruscottoApp.authFunction.detail.modify.title">Update Function</span>
      </button>
    </div>
  </div>
  <div class="row mb-2">
    <div class="col-md-12">
      <mat-card class="mat-elevation-z8">
        <mat-card-content>
          <div class="row custom-row p-2">
            <div class="col-lg-2">
              <span jhiTranslate="pagopaCruscottoApp.authFunction.module">Module</span>
              <p class="p-2 bg-light">{{ function.modulo }}</p>
            </div>
            <div class="col-lg-5">
              <span jhiTranslate="pagopaCruscottoApp.authFunction.name">Name</span>
              <p class="p-2 bg-light">
                {{ function.nome }}
              </p>
            </div>
            <div class="col-lg-5">
              <span jhiTranslate="pagopaCruscottoApp.authFunction.description">Description</span>
              <p class="p-2 bg-light">
                {{ function.descrizione }}
              </p>
            </div>
          </div>
          <div class="row custom-row p-2">
            <div class="col-md-12">
              <mat-list>
                <div mat-subheader>
                  <span jhiTranslate="pagopaCruscottoApp.authFunction.permissions">Permessi</span>
                </div>
                @for (authPermission of function.authPermissions; track authPermission) {
                  <mat-list-item>
                    <mat-icon fontSet="material-symbols-outlined" matListItemIcon>webhook</mat-icon>
                    <div matListItemTitle class="mat-line-title">{{ authPermission.modulo }}</div>
                    <div matListItemLine>{{ authPermission.nome }}</div>
                  </mat-list-item>
                  <mat-divider></mat-divider>
                }
                <mat-list-item>
                  <div
                    class="d-flex align-items-center justify-content-center w-100 p-2"
                    *ngIf="(function.authPermissions && function.authPermissions.length <= 0) || function.authPermissions === null"
                  >
                    <div class="row w-100 p-2">
                      <div class="col-12">
                        <span class="font-weight-bold text-left">{{ 'entity.list.noResult' | translate }}</span>
                      </div>
                    </div>
                  </div>
                </mat-list-item>
              </mat-list>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
