.mat-column-id,
.mat-column-analysisDate,
.mat-column-stationName,
.mat-column-method,
.mat-column-totalRequests,
.mat-column-averageTime,
.mat-column-overTimeLimit,
.mat-column-evaluationStartDate,
.mat-column-evaluationEndDate,
.mat-column-evaluationType,
.mat-column-outcome,
.mat-column-details {
  text-align: center; /* Centra il contenuto del testo orizzontalmente */
  justify-content: center; /* Centra orizzontalmente il contenuto */
  align-items: center; /* Centra verticalmente il contenuto */
}
