<div>
  <div class="d-flex align-items-center justify-content-between w-100 mb-5">
    <div class="h2">
      <span jhiTranslate="pagopaCruscottoApp.instance.home.title">Instances</span>
    </div>
    <div>
      <button type="submit" mat-flat-button (click)="previousState()" [title]="['entity.action.back' | translate]">
        <mat-icon fontSet="material-symbols-outlined">undo</mat-icon><span jhiTranslate="entity.action.back">Back</span>
      </button>
      <button
        id="jh-create-entity"
        mat-stroked-button
        color="primary"
        *jhiHasAnyAuthority="Authority.INSTANCE_MANAGEMENT"
        [routerLink]="['/entity/instances/new']"
        [title]="['pagopaCruscottoApp.instance.list.createLabel' | translate]"
      >
        <mat-icon fontSet="material-symbols-outlined">add</mat-icon
        ><span jhiTranslate="pagopaCruscottoApp.instance.list.createLabel">Create a new Instance</span>
      </button>
    </div>
  </div>

  <form name="searchForm" role="form" novalidate (ngSubmit)="search()" [formGroup]="searchForm" autocomplete="off">
    <mat-accordion>
      <mat-expansion-panel class="criteri-ricerca mb-4" [expanded]="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <div class="d-flex justify-content-start align-content-center">
              <div class="p-2">
                <mat-icon fontSet="material-symbols-outlined" color="primary">search</mat-icon>
              </div>
              <div class="p-2">
                <span jhiTranslate="entity.search.title" class="h6">Filtri di ricerca</span>
              </div>
            </div>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="row">
          <div class="col-lg-4">
            <jhi-partner-select [parentForm]="searchForm" formInnerControlName="partner"></jhi-partner-select>
          </div>
          <div class="col-lg-3">
            <mat-form-field class="d-block mb-2">
              <mat-label jhiTranslate="pagopaCruscottoApp.instance.status">Stato</mat-label>
              <mat-select formControlName="status">
                <mat-option value="" selected>{{ 'global.form.select.all' | translate }}</mat-option>
                <mat-option *ngFor="let instanceStatus of instanceStatusValues" [value]="instanceStatus">
                  {{ 'pagopaCruscottoApp.instanceState.' + instanceStatus | translate | uppercase }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-lg-3">
            @let predictedAnalysisStartDateRef = searchForm.get('predictedAnalysisStartDate')!;
            @let predictedAnalysisEndDateRef = searchForm.get('predictedAnalysisEndDate')!;
            <mat-form-field class="d-block mb-2">
              <mat-label jhiTranslate="pagopaCruscottoApp.instance.predictedDateAnalysis"></mat-label>
              <mat-date-range-input [formGroup]="searchForm" [rangePicker]="predictedAnalysisDatePicker">
                <input matStartDate formControlName="predictedAnalysisStartDate" />
                <input matEndDate formControlName="predictedAnalysisEndDate" />
              </mat-date-range-input>
              <mat-datepicker-toggle
                matIconSuffix
                *ngIf="predictedAnalysisStartDateRef.value || predictedAnalysisEndDateRef.value"
                (click)="clearFields('predictedAnalysisStartDate', 'predictedAnalysisEndDate')"
              >
                <mat-icon matDatepickerToggleIcon fontSet="material-symbols-outlined" color="accent" aria-hidden="false">
                  close_small
                </mat-icon>
              </mat-datepicker-toggle>
              <mat-datepicker-toggle matSuffix [for]="predictedAnalysisDatePicker"></mat-datepicker-toggle>
              <mat-date-range-picker #predictedAnalysisDatePicker></mat-date-range-picker>
              <ng-container
                ngProjectAs="mat-error"
                *ngIf="
                  (predictedAnalysisStartDateRef.invalid &&
                    (predictedAnalysisStartDateRef.dirty || predictedAnalysisStartDateRef.touched)) ||
                  (predictedAnalysisEndDateRef.invalid && (predictedAnalysisEndDateRef.dirty || predictedAnalysisEndDateRef.touched))
                "
              >
                @if (predictedAnalysisStartDateRef?.errors?.matDatepickerParse) {
                  <mat-error jhiTranslate="entity.validation.fromDate"> Invalid start date </mat-error>
                } @else if (predictedAnalysisEndDateRef?.errors?.matDatepickerParse) {
                  <mat-error jhiTranslate="entity.validation.toDate"> Invalid end date </mat-error>
                } @else if (
                  predictedAnalysisEndDateRef?.errors?.matEndDateInvalid || predictedAnalysisStartDateRef?.errors?.matStartDateInvalid
                ) {
                  <mat-error jhiTranslate="entity.validation.dateRange"> This field should be a valid range of date </mat-error>
                }
              </ng-container>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-3">
            @let analysisStartDateRef = searchForm.get('analysisStartDate')!;
            <mat-form-field class="d-block mb-2">
              <mat-label jhiTranslate="pagopaCruscottoApp.instance.analysisPeriodStartDate">Analysis Period Start Date</mat-label>
              <input matInput [matDatepicker]="startDatePicker" formControlName="analysisStartDate" [matDatepickerFilter]="startFilter" />
              <mat-datepicker-toggle matIconSuffix *ngIf="analysisStartDateRef.value" (click)="clearFields('analysisStartDate')">
                <mat-icon matDatepickerToggleIcon fontSet="material-symbols-outlined" color="accent" aria-hidden="false">
                  close_small
                </mat-icon>
              </mat-datepicker-toggle>
              <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
              <mat-datepicker #startDatePicker></mat-datepicker>
              <ng-container
                ngProjectAs="mat-error"
                *ngIf="analysisStartDateRef.invalid && (analysisStartDateRef.dirty || analysisStartDateRef.touched)"
              >
                @if (analysisStartDateRef?.errors?.matDatepickerParse) {
                  <mat-error class="form-text text-danger" jhiTranslate="entity.validation.date">Invalid date</mat-error>
                }
                @if (analysisStartDateRef?.errors?.matDatepickerFilter) {
                  <mat-error
                    class="form-text text-danger"
                    jhiTranslate="pagopaCruscottoApp.instance.update.analysisPeriodStartDate.validation.dateLoeThanEndDate"
                  >
                    The 'Analysis Period Start Date' field must be a date before or equal to 'Analysis Period End Date'
                  </mat-error>
                }
              </ng-container>
            </mat-form-field>
          </div>
          <div class="col-lg-3">
            @let analysisEndDateRef = searchForm.get('analysisEndDate')!;
            <mat-form-field class="d-block mb-2">
              <mat-label jhiTranslate="pagopaCruscottoApp.instance.analysisPeriodEndDate">Analysis Period End Date</mat-label>
              <input matInput [matDatepicker]="endDatePicker" formControlName="analysisEndDate" [matDatepickerFilter]="endFilter" />
              <mat-datepicker-toggle matIconSuffix *ngIf="analysisEndDateRef.value" (click)="clearFields('analysisEndDate')">
                <mat-icon matDatepickerToggleIcon fontSet="material-symbols-outlined" color="accent" aria-hidden="false">
                  close_small
                </mat-icon>
              </mat-datepicker-toggle>
              <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
              <mat-datepicker #endDatePicker></mat-datepicker>
              <ng-container
                ngProjectAs="mat-error"
                *ngIf="analysisEndDateRef.invalid && (analysisEndDateRef.dirty || analysisEndDateRef.touched)"
              >
                @if (analysisEndDateRef?.errors?.matDatepickerParse) {
                  <mat-error class="form-text text-danger" jhiTranslate="entity.validation.date">Invalid date</mat-error>
                }
                @if (analysisEndDateRef?.errors?.matDatepickerFilter) {
                  <mat-error
                    class="form-text text-danger"
                    jhiTranslate="pagopaCruscottoApp.instance.update.analysisPeriodEndDate.validation.dateGoeThanStartDate"
                  >
                    The 'Analysis Period End Date' field must be a date before or equal to 'Analysis Period Start Date'
                  </mat-error>
                }
              </ng-container>
            </mat-form-field>
          </div>
        </div>
        <mat-action-row class="d-block">
          <div class="d-flex justify-content-end align-items-center">
            <button
              type="submit"
              id="search"
              mat-flat-button
              color="primary"
              *jhiHasAnyAuthority="Authority.INSTANCE_INQUIRY"
              [disabled]="searchForm.invalid || isLoadingResults"
              [title]="['entity.action.search' | translate]"
            >
              <mat-icon fontSet="material-symbols-outlined">search</mat-icon><span jhiTranslate="entity.action.search">Search</span>
            </button>
            <button type="button" mat-stroked-button (click)="clear()" [title]="['entity.action.clear' | translate]">
              <mat-icon fontSet="material-symbols-outlined">ink_eraser</mat-icon><span jhiTranslate="entity.action.clear">Clear</span>
            </button>
          </div>
        </mat-action-row>
      </mat-expansion-panel>
    </mat-accordion>
  </form>

  <div class="row">
    <div class="col-12">
      <mat-card class="mat-elevation-z8" *ngIf="!_search">
        <mat-card-content>
          <div class="d-flex align-items-center justify-content-center w-100 m-4">
            <div class="h6 font-weight-bold">
              {{ 'entity.list.filter' | translate }}
            </div>
          </div>
        </mat-card-content>
      </mat-card>

      <mat-card class="mat-elevation-z8" *ngIf="_search">
        <mat-card-content>
          <ngx-spinner [fullScreen]="false" type="ball-clip-rotate" size="default" color="#ffffff" name="isLoadingResults">
            <p class="ngx-spinner-loading">Loading...</p>
          </ngx-spinner>
          <div class="d-flex justify-content-between">
            <div>
              <div *ngIf="selection.hasValue()" class="mt-2">
                <span class="ms-3">
                  <b>{{ selection.selected.length }}</b>
                  {{
                    (selection.selected.length == 1
                      ? 'pagopaCruscottoApp.instance.reports.selectedInstance'
                      : 'pagopaCruscottoApp.instance.reports.selectedInstances'
                    ) | translate
                  }}
                </span>
                <button
                  id="generateReport"
                  mat-flat-button
                  color="primary"
                  *jhiHasAnyAuthority="Authority.INSTANCE_MANAGEMENT"
                  (click)="launchReportGeneration()"
                  [disabled]="!selection.hasValue()"
                >
                  <mat-icon fontSet="material-symbols-outlined">add_chart</mat-icon
                  ><span>{{ 'pagopaCruscottoApp.instance.reports.generate' | translate }}</span>
                </button>
                <button
                  id="archive"
                  mat-flat-button
                  color="primary"
                  *jhiHasAnyAuthority="Authority.INSTANCE_MANAGEMENT"
                  (click)="archive()"
                  [disabled]="checkFilterStatus()"
                >
                  <mat-icon fontSet="material-symbols-outlined">archive</mat-icon
                  ><span>{{ 'pagopaCruscottoApp.instance.archived.archive' | translate }}</span>
                </button>
              </div>
            </div>
            <mat-paginator
              *ngIf="resultsLength > 0"
              [pageSize]="itemsPerPage"
              [pageIndex]="page - 1"
              [disabled]="isLoadingResults"
              [length]="resultsLength"
              (page)="changePage($event)"
              showFirstLastButtons
            >
            </mat-paginator>
          </div>
          <div class="table-responsive">
            <div class="table-container">
              <table
                mat-table
                [dataSource]="data"
                class="w-100"
                (matSortChange)="sortData($event)"
                [matSortActive]="filter.sort.field"
                [matSortDirection]="filter.sort.direction"
                matSort
                matSortDisableClear
              >
                <ng-container matColumnDef="select">
                  <th mat-header-cell *matHeaderCellDef>
                    <mat-checkbox
                      (change)="$event ? onSelectPageClick($event) : null"
                      [indeterminate]="selection.hasValue() && !checkPageSelected()"
                      [checked]="checkPageSelected()"
                    >
                    </mat-checkbox>
                  </th>
                  <td mat-cell *matCellDef="let row">
                    <mat-checkbox
                      *ngIf="row.status == 'ESEGUITA' || row.status == 'ARCHIVIATA'"
                      (click)="$event.stopPropagation()"
                      (change)="$event ? selection.toggle(row.id) : null"
                      [checked]="selection.isSelected(row.id)"
                    >
                    </mat-checkbox>
                  </td>
                </ng-container>

                <ng-container matColumnDef="instanceIdentification">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    {{ 'pagopaCruscottoApp.instance.instanceIdentification' | translate }}
                  </th>
                  <td mat-cell *matCellDef="let row" class="text-nowrap">{{ row.instanceIdentification }}</td>
                </ng-container>

                <ng-container matColumnDef="partnerFiscalCode">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    {{ 'pagopaCruscottoApp.instance.partnerFiscalCode' | translate }}
                  </th>
                  <td mat-cell *matCellDef="let row">{{ row.partnerFiscalCode }}</td>
                </ng-container>

                <ng-container matColumnDef="partner">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header="partnerName">
                    {{ 'pagopaCruscottoApp.instance.partner' | translate }}
                  </th>
                  <td mat-cell *matCellDef="let row">{{ row.partnerName }}</td>
                </ng-container>

                <ng-container matColumnDef="predictedDateAnalysis">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    {{ 'pagopaCruscottoApp.instance.predictedDateAnalysis' | translate }}
                  </th>
                  <td mat-cell *matCellDef="let row">{{ row.predictedDateAnalysis | formatDate: 'L' : locale }}</td>
                </ng-container>

                <ng-container matColumnDef="applicationDate">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    {{ 'pagopaCruscottoApp.instance.applicationDate' | translate }}
                  </th>
                  <td mat-cell *matCellDef="let row">{{ row.applicationDate | formatDate: 'L' : locale }}</td>
                </ng-container>

                <ng-container matColumnDef="assignedUser">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    {{ 'pagopaCruscottoApp.instance.assignedUser' | translate }}
                  </th>
                  <td mat-cell *matCellDef="let row">{{ row.assignedFirstName }} {{ row.assignedLastName }}</td>
                </ng-container>

                <ng-container matColumnDef="analysisPeriodStartDate">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    {{ 'pagopaCruscottoApp.instance.analysisPeriod' | translate }}
                  </th>
                  <td mat-cell *matCellDef="let row" class="text-nowrap">
                    {{ row.analysisPeriodStartDate | formatDate: 'L' : locale }} -
                    {{ row.analysisPeriodEndDate | formatDate: 'L' : locale }}
                  </td>
                </ng-container>
                <!-- <ng-container matColumnDef="analysisPeriodStartDate">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    {{ 'pagopaCruscottoApp.instance.analysisPeriodStartDate' | translate }}
                  </th>
                  <td mat-cell *matCellDef="let row">{{ row.analysisPeriodStartDate | formatDate: 'L' : locale }}</td>
                </ng-container>
                <ng-container matColumnDef="analysisPeriodEndDate">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    {{ 'pagopaCruscottoApp.instance.analysisPeriodEndDate' | translate }}
                  </th>
                  <td mat-cell *matCellDef="let row">{{ row.analysisPeriodEndDate | formatDate: 'L' : locale }}</td>
                </ng-container> -->

                <ng-container matColumnDef="status">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    {{ 'pagopaCruscottoApp.instance.status' | translate }}
                  </th>
                  <td mat-cell *matCellDef="let row">
                    <jhi-instance-state-view [status]="row.status"></jhi-instance-state-view>
                  </td>
                </ng-container>

                <ng-container matColumnDef="lastAnalysisDate">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    {{ 'pagopaCruscottoApp.instance.lastAnalysisDate' | translate }}
                  </th>
                  <td mat-cell *matCellDef="let row">{{ row.lastAnalysisDate | formatDate: 'L' : locale }}</td>
                </ng-container>

                <ng-container matColumnDef="changePartnerQualified">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    {{ 'pagopaCruscottoApp.instance.changePartnerQualified' | translate }}
                  </th>
                  <td mat-cell *matCellDef="let row"><jhi-yes-or-no-view [yesOrNo]="row.changePartnerQualified"></jhi-yes-or-no-view></td>
                </ng-container>

                <ng-container matColumnDef="lastAnalysisOutcome">
                  <th mat-header-cell *matHeaderCellDef>
                    {{ 'pagopaCruscottoApp.instance.lastAnalysisOutcome' | translate }}
                  </th>
                  <td
                    mat-cell
                    *matCellDef="let row"
                    [ngClass]="{
                      'outcome-ok': row.lastAnalysisOutcome === OutcomeStatus.OK,
                      'outcome-ko': row.lastAnalysisOutcome === OutcomeStatus.KO,
                    }"
                    class="text-nowrap"
                  >
                    {{ row.lastAnalysisOutcome }}
                  </td>
                </ng-container>

                <ng-container matColumnDef="action">
                  <th mat-header-cell *matHeaderCellDef>{{ 'entity.list.column.actions.label' | translate }}</th>
                  <td mat-cell *matCellDef="let row">
                    <div class="d-flex justify-content-center align-items-center text-nowrap">
                      <div>
                        <span>
                          <button
                            class="m-1"
                            mat-icon-button
                            type="button"
                            *jhiHasAnyAuthority="Authority.INSTANCE_INQUIRY"
                            matTooltip="{{ 'entity.action.view' | translate }}"
                            matTooltipPosition="above"
                            [attr.aria-label]="['entity.list.column.actions.view.ariaLabel' | translate]"
                            [routerLink]="['/entity/instances', row.id, 'view']"
                          >
                            <mat-icon fontSet="material-symbols-outlined" aria-hidden="false">visibility</mat-icon>
                          </button>
                        </span>
                        <span>
                          <button
                            class="m-1"
                            mat-icon-button
                            type="button"
                            *jhiHasAnyAuthority="Authority.INSTANCE_MANAGEMENT"
                            [disabled]="row.status !== status.Bozza && row.status !== status.Pianificata"
                            matTooltip="{{
                              (row.status === status.Bozza
                                ? 'pagopaCruscottoApp.instance.list.action.updateInPlanned.label'
                                : 'pagopaCruscottoApp.instance.list.action.updateInDraft.label'
                              ) | translate
                            }}"
                            matTooltipPosition="above"
                            [attr.aria-label]="[
                              (row.status === status.Bozza
                                ? 'pagopaCruscottoApp.instance.list.action.updateInPlanned.label'
                                : 'pagopaCruscottoApp.instance.list.action.updateInDraft.label'
                              ) | translate,
                            ]"
                            (click)="updateStatus(row)"
                          >
                            <mat-icon fontSet="material-symbols-outlined" aria-hidden="false">sync_alt</mat-icon>
                          </button>
                        </span>
                        <span>
                          <button
                            class="m-1"
                            mat-icon-button
                            type="button"
                            *jhiHasAnyAuthority="Authority.INSTANCE_MANAGEMENT"
                            matTooltip="{{ 'entity.action.edit' | translate }}"
                            matTooltipPosition="above"
                            [disabled]="row.status !== status.Bozza"
                            [attr.aria-label]="['entity.list.column.actions.edit.ariaLabel' | translate]"
                            [routerLink]="['/entity/instances', row.id, 'edit']"
                          >
                            <mat-icon
                              fontSet="material-symbols-outlined"
                              [color]="row.status !== status.Bozza ? '' : 'primary'"
                              aria-hidden="false"
                              >edit</mat-icon
                            >
                          </button>
                        </span>
                        <span>
                          <button
                            class="m-1"
                            mat-icon-button
                            type="button"
                            *jhiHasAnyAuthority="Authority.INSTANCE_MANAGEMENT"
                            [disabled]="!(enableInstanceDeletion || row.status == status.Bozza || row.status == status.Pianificata)"
                            matTooltip="{{ 'entity.action.delete' | translate }}"
                            matTooltipPosition="above"
                            (click)="delete(row)"
                          >
                            <mat-icon
                              fontSet="material-symbols-outlined"
                              [color]="row.status !== status.Bozza && row.status !== status.Pianificata ? '' : 'warn'"
                              aria-hidden="false"
                              >delete</mat-icon
                            >
                          </button>
                        </span>
                        @let reportInfo = getReportDisplayInfo(row.id);
                        <span [matTooltip]="reportInfo.tooltipKey | translate" matTooltipPosition="above">
                          <button
                            class="m-1"
                            mat-icon-button
                            type="button"
                            *jhiHasAnyAuthority="Authority.INSTANCE_MANAGEMENT"
                            [disabled]="!reportInfo.downloadEnabled"
                            (click)="downloadReport(row.id)"
                          >
                            <mat-icon fontSet="material-symbols-outlined">{{ reportInfo.icon }}</mat-icon>
                          </button>
                        </span>
                        <span *ngIf="row.status === status.Archiviata">
                          <button
                            class="m-1"
                            mat-icon-button
                            type="button"
                            [matTooltip]="'pagopaCruscottoApp.instance.archived.restore' | translate"
                            *jhiHasAnyAuthority="Authority.INSTANCE_MANAGEMENT"
                            (click)="restore(row.id)"
                          >
                            <mat-icon fontSet="material-symbols-outlined">docs</mat-icon>
                          </button>
                        </span>
                      </div>
                    </div>
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>

                <tr
                  mat-row
                  *matRowDef="let row; columns: displayedColumns"
                  [ngClass]="{ highlightTableColor: selectedRowId == row.id }"
                ></tr>

                <tr class="mat-row" *matNoDataRow>
                  <td *ngIf="!isLoadingResults" class="mat-cell font-weight-bold" colspan="13">
                    <div class="no-data-row">
                      <mat-icon svgIcon="no-data" aria-hidden="false" aria-label="No data"></mat-icon>
                      <span>{{ 'entity.list.noResult' | translate }}</span>
                    </div>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
