/* Column Widths */
.mat-column-assignedUser,
.mat-column-action {
  width: 200px;
  min-width: 200px;
  text-align: center;
}

.mat-column-id,
.mat-column-instanceIdentification,
.mat-column-partner,
.mat-column-predictedDateAnalysis,
.mat-column-applicationDate,
.mat-column-analysisPeriodStartDate,
.mat-column-analysisPeriodEndDate,
.mat-column-status,
.mat-column-lastAnalysisDate,
.mat-column-lastAnalysisOutcome {
  width: 150px;
  text-align: center;
}

.mat-column-action {
  width: 200px;
  min-width: 200px;
  text-align: center;
}
