/* Column Widths */
.mat-column-assignedUser,
.mat-column-action {
  width: 200px;
  min-width: 200px;
  text-align: center;
}

.mat-column-id,
.mat-column-instanceIdentification,
.mat-column-partner,
.mat-column-partnerFiscalCode,
.mat-column-predictedDateAnalysis,
.mat-column-applicationDate,
.mat-column-analysisPeriodStartDate,
.mat-column-analysisPeriodEndDate,
.mat-column-status,
.mat-column-lastAnalysisDate,
.mat-column-lastAnalysisOutcome,
.mat-column-changePartnerQualified {
  width: 150px;
  text-align: center;
}

.mat-column-action {
  width: 200px;
  min-width: 200px;
  text-align: center;
}

#mat-form-field-predictedAnalysis,
#mat-form-field-analysisPeriod {
  padding: 0 10px;
}
