<ngx-spinner [fullScreen]="false" type="ball-clip-rotate" size="small" color="#ffffff" name="isLoadingResultsKpiB9AnalyticDrilldown">
  <p class="ngx-spinner-loading">Loading...</p>
</ngx-spinner>

<div class="table-responsive">
  <div class="table-container">
    <div *ngIf="hasData; else noDataTemplate" class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort [matSortActive]="'startTime'" [matSortDirection]="'asc'" matSortDisableClear class="full-width-table">
        <ng-container matColumnDef="startTime">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'pagopaCruscottoApp.module.B.9.tableLabels.KpiAnalyticDrilldown.startTime' | translate }}</th>
          <td mat-cell *matCellDef="let r">{{ r.startTime | date: 'HH:mm' : locale }}</td>
        </ng-container>

        <ng-container matColumnDef="endTime">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'pagopaCruscottoApp.module.B.9.tableLabels.KpiAnalyticDrilldown.endTime' | translate }}</th>
          <td mat-cell *matCellDef="let r">{{ r.endTime | date: 'HH:mm' : locale }}</td>
        </ng-container>

        <ng-container matColumnDef="totRes">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'pagopaCruscottoApp.module.B.9.tableLabels.KpiAnalyticDrilldown.totRes' | translate }}</th>
          <td mat-cell *matCellDef="let r">{{ r.totRes | number }}</td>
        </ng-container>

        <ng-container matColumnDef="resKo">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'pagopaCruscottoApp.module.B.9.tableLabels.KpiAnalyticDrilldown.resKo' | translate }}</th>
          <td mat-cell *matCellDef="let r">{{ r.resKo | number }}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>

    <mat-paginator [pageSize]="35" [pageSizeOptions]="[35,50,100]" showFirstLastButtons [hidden]="!hasData"></mat-paginator>

    <ng-template #noDataTemplate>
      <p>{{ 'entity.list.noResult' | translate }}</p>
    </ng-template>
  </div>
</div>