@use '@angular/material' as mat;

@use './m3-theme';

@include mat.core();

// Light Theme created by ng generate @angular-material:m3-theme
$theme: m3-theme.$light-theme;

:root {
  @include mat.all-component-themes($theme);

  // if you want to support color attribute in M3 add compatibility mixin
  @include mat.color-variants-backwards-compatibility($theme);

  // Add backwards compatibility styles for color variants
  @include mat.color-variants-backwards-compatibility($theme);

  @include mat.toolbar-overrides(
    (
      container-background-color: #0073e6,
      container-text-color: #ffffff,
    )
  );
}
