<div>
  <div class="d-flex align-items-center justify-content-center w-100 mb-3">
    <div class="h2">
      <span class="login-title" jhiTranslate="reset.request.title"> Change Password </span>
    </div>
  </div>

  <div class="row">
    <div class="offset-md-3 col-md-6">
      <form
        *ngIf="!success"
        name="resetRequestForm"
        (ngSubmit)="requestReset()"
        [formGroup]="resetRequestForm"
        novalidate
        autocomplete="off"
        class="edit-form"
      >
        <mat-card class="mat-elevation-z8">
          <ngx-spinner [fullScreen]="false" type="ball-clip-rotate" size="default" color="#ffffff" name="isProcessing">
            <p class="ngx-spinner-loading">Loading...</p>
          </ngx-spinner>
          <mat-card-content>
            <div class="row mt-3">
              <div class="offset-md-2 col-md-8">
                <div class="alert alert-warning" *ngIf="!success">
                  <span jhiTranslate="reset.request.messages.info">Inserisci l'indirizzo email utilizzato per la registrazione</span>
                </div>
                <div class="alert alert-success" *ngIf="success">
                  <span jhiTranslate="reset.request.messages.success"
                    >Controlla la tua email per i dettagli su come reimpostare la password</span
                  >
                </div>
              </div>
              <div class="offset-md-2 col-md-8">
                @let emailRef = resetRequestForm.get('email')!;
                <mat-form-field class="d-block">
                  <mat-label jhiTranslate="reset.request.form.email">Email</mat-label>
                  <input matInput type="email" autocomplete="off" formControlName="email" #email />
                  <ng-container ngProjectAs="mat-error" *ngIf="emailRef.invalid && (emailRef.dirty || emailRef.touched)">
                    @if (emailRef?.errors?.required) {
                      <mat-error class="form-text text-danger" jhiTranslate="entity.validation.required">
                        This field is required.
                      </mat-error>
                    }
                    @if (emailRef?.errors?.email) {
                      <mat-error class="form-text text-danger" jhiTranslate="global.messages.validate.email.invalid">
                        This field is not a valid email.
                      </mat-error>
                    }
                    @if (emailRef?.errors?.minlength) {
                      <mat-error class="form-text text-danger" jhiTranslate="entity.validation.minlength" [translateValues]="{ min: 5 }">
                        This field is required to be at least 5 characters.
                      </mat-error>
                    }
                    @if (emailRef?.errors?.maxlength) {
                      <mat-error class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 100 }">
                        This field cannot be longer than 100 characters.
                      </mat-error>
                    }
                  </ng-container>
                </mat-form-field>

                <div class="d-flex align-items-center justify-content-end w-100 mb-3 mt-4">
                  <button
                    type="submit"
                    [disabled]="resetRequestForm.invalid || isProcessing"
                    mat-stroked-button
                    color="primary"
                    class="w-100"
                    [title]="['reset.request.form.button' | translate]"
                  >
                    <span jhiTranslate="reset.request.form.button">Save</span>
                  </button>
                </div>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </form>
    </div>
  </div>
</div>
