.mat-mdc-progress-bar {
  --mdc-linear-progress-track-height: 24px;
  --mdc-linear-progress-active-indicator-height: 24px;
  --mdc-linear-progress-track-color: #e9ecef;
  --mdc-linear-progress-active-indicator-color: #3c7e3c
}
